@import "../../../sass/variables";

.radioRoot {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  padding: 6px 12px;

  .radioWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1px;
    margin-right: 10px;

    input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
      position: absolute;
      opacity: 0;
      cursor: inherit;
    }
  }

  .radioLabel {
    font-size: 14px;
    font-weight: 500;
    margin-right: 4px;
  }

  .imageLabel {
    margin: 2px 0;

    img {
      width: 68px;
      height: 28px;
    }
  }
}
