@import "../../../../sass/variables";

.uploadProof {
  .heading {
    margin-bottom: 24px;

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $secondary;
    }
  }

  .rulesLabel {
    margin-bottom: 16px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $secondary;
    }
  }

  .rules {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 24px;
    margin-bottom: 24px;

    .item {
      display: flex;
      align-items: center;

      .number {
        background-color: $primary;
        border-radius: 50%;
        margin-right: 16px;
        min-width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          color: #fff;
        }
      }

      .info {
        h5 {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 8px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $secondary;
        }
      }
    }
  }

  .cardInfo {
    width: 100%;
    padding: 16px;
    background-color: $backgroundLightAccent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    svg {
      color: $primary;
      margin-right: 16px;
    }

    span {
      color: $primary;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .upload {
    margin-bottom: 32px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;

    button {
      width: 175px;
    }
  }
}

@media screen and (max-width: 992px) {
  .uploadProof {
    .rules {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
