@import "../../../sass/variables";

.landingPage {
  width: 100%;
  padding: 32px 24px;
  background: $white;
  border-radius: 10px;

  .wrapper {
    display: flex;
    align-items: center;
    column-gap: 53px;
    width: 100%;

    .verifiedImage {
      img {
        width: 311.91px;
        height: 315px;
      }
    }

    .success {
      width: 100%;

      .heading {
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 28px;

          span {
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: $borderPrimary;
      margin: 24px 0;
    }

    .button {
      display: flex;
      justify-content: flex-end;

      button {
        width: 358px;
      }
    }
  }
}
