@import "../../../sass/variables";

.menuNav {
  list-style: none;
  width: 100%;


  .menuItem {
    padding: 8px 0;
    display: flex;
    align-items: center;
    position: relative;

    .menuLink {
      margin: 0 24px;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $dark-gray;
      width: 100%;

      .newBadge {
        padding: 4px 8px;
        border-radius: 10px;
        background-color: $primary;
        display: flex;

        span {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          color: #fff;
        }
      }

      .menuTitle {
        display: flex;
        align-items: center;
      }

      .arrowUp {
        display: flex;
        align-items: center;
        transition: all 200ms ease-in-out;

        svg {
          padding: 0;
          margin: 0;
        }
      }

      .open {
        transform: rotate(180deg);
      }

      svg {
        margin-right: 16px;
      }

      .menuText {
        font-weight: 500;
      }

      &.active {
        color: $primary;
        border-radius: 10px;
        background: #E3ECFD;
      }

      &:hover {
        color: $primary;
      }
    }
  }
}

.multiLevel {
  cursor: pointer;

  .levelContent {
    padding: 0 24px 0 65px;
    height: 0px;
    visibility: hidden;
    display: grid;
    gap: 18px;
    transition: all 100ms ease;

    &.open {
      height: 100%;
      visibility: visible;
      transition: all 100ms ease;
      margin: 8px 0 14px 0;
    }

    li {
      color: $dark-gray;
      font-size: 16px;
      font-weight: 500;

      :hover,
      .active {
        color: $primary;
      }
    }
  }
}
