@import "../../../sass/variables";

.depositCard {
  display: flex;
  padding: 16px 12px;
  border-radius: 10px;
  border: 1px solid #E5E5EA;
  background: #F4F6F8;

  span {
    display: block;
    color: $gray-7;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
  }

  h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.018px;
  }
}
