@import "../../../sass/variables";

.analytic {
  border-radius: 10px;
  background-color: $white;
  padding: 24px 16px;

  .welcome {
    display: flex;
    margin-bottom: 8px;

    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      margin-right: 4px;
    }
  }

  .dateNow {
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $tertiary;
    }
  }

  .line {
    margin: 24px 0;
    background-color: $backgroundSecondary;
    width: 100%;
    height: 1px;
  }

  .amount {
    display: flex;
    column-gap: 16px;
    margin-top: 32px;
    margin-bottom: 16px;

    .item {
      padding: 12px;
      border: 1px solid $gray-5-light;
      border-radius: 10px;
      background-color: $white;
      width: 100%;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 8px;
      }

      h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        color: $primary;
      }
    }
  }

  .wrapperToolBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;

    .filter {
      width: 240px;
    }

    .btnReload {
      padding: 10px 10px 8.5px 10px;
      border-radius: 5px;
      background: $primary-light;

      svg {
        padding: 0;
        color: $primary;
      }
    }
  }
}

.chart {
  .loading {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}

.chart>div>div>div {
  width: 200px;
  display: flex;
  justify-content: center;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  max-height: 100px;
  margin: -80px 0 0 100px;
}

.wrapperChartToolTip {
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  background: #fff;
  border: 1px solid $primary;

  .innerChartToolTip {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .date {
      font-size: 12px;
      font-weight: 700;
    }

    .trx {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 14px;
      font-size: 12px;

      .success {
        p {
          display: flex;
          align-items: center;
          gap: 5px;

          &::before {
            content: "";
            display: block;
            height: 4.5px;
            width: 4.5px;
            border-radius: 100%;
            background: $success;
          }

          margin-bottom: 4px;
        }

        .nominal {
          color: $success;
        }
      }

      .failed {
        p {
          display: flex;
          align-items: center;
          gap: 5px;

          &::before {
            content: "";
            display: block;
            height: 4.5px;
            width: 4.5px;
            border-radius: 100%;
            background: $danger;
          }

          margin-bottom: 4px;
        }

        .nominal {
          color: $danger;
        }
      }
    }
  }
}
