@import "../../../../sass/variables";

.profile {
  margin-top: 24px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;

  .wrapper {
    .line {
      height: 1px;
      margin: 32px 0;
      background-color: $gray-4;
      width: 100%;
    }

    .formWrapper {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      .additionalEmail {
        .formGroup {
          display: flex;
          column-gap: 16px;
          margin-bottom: 16px;

          .input {
            width: 100%;
          }

          .button {
            margin-top: 24px;

            &.error {
              margin-bottom: 22px;
            }

            &.disabled {
              background-color: $grey-tertiary;
            }

            button {
              background-color: $backgroundLightAccent;
              width: 220px;
              height: 100%;
              border: 1px solid $borderPrimary;
              border-radius: 10px;

              span {
                color: $primary;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
              }
            }
          }
        }

        .itemList {
          display: flex;
          flex-flow: wrap;
          gap: 8px;
          margin-bottom: 16px;

          .item {
            display: flex;
            align-items: center;
            column-gap: 8px;
            background-color: #CBCBCB;
            padding: 6px 16px;
            border: 1px solid #E2E2E2;
            border-radius: 40px;
            width: fit-content;

            h6 {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: $secondary;
            }

            svg {
              width: 24px;
              height: 24px;
            }

            button {
              display: flex;
            }
          }
        }
      }

      .button {
        display: flex;
        justify-content: center;

        button {
          width: 358px;
        }
      }
    }

    .phoneNumber {
      display: flex;
      margin-bottom: 24px;

      .input {
        width: 340px;
        margin-right: 24px;
      }

      .row {
        display: flex;
        align-items: center;
        margin-top: 24px;

        .verifiedAlert {
          display: flex;
          align-items: center;
          margin-right: 18px;
          column-gap: 24px;
          background: #EFF3FE;
          border-radius: 40px;
          padding: 8px;
          column-gap: 8px;
          width: fit-content;

          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: $primary;
          }
        }

        .changeBtn {
          button {
            color: $primary;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

  }
}

.note {
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $secondary;
  }
}
