@import "../../sass/variables";

.error {
  background-color: $gray-6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    text-align: center;
    width: 356px;

    .image {
      margin-bottom: 24px;

      img {
        width: 166px;
      }
    }

    .message {

      h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 8px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $secondary;
      }
    }
  }
}
