@import "../../../../sass/variables";

.companyDetail {
  margin: 50px 0;

  .heading {
    text-align: center;
    margin-bottom: 24px;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $gray-7;
    }
  }

  form {
    width: 358px;

    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
    }

    .formWrapper {
      display: grid;
      row-gap: 8px;
      margin-bottom: 16px;
    }

    .agreement {
      margin-bottom: 24px;
    }
  }
}
