@import "../../../sass/variables";

.imageField {
  width: 88px;

  input {
    display: none;
  }

  .imageWrapper {
    border-radius: 100%;
    height: 88px;
    width: 88px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 10px;
    background-color: $white;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }
  }

  .button {
    width: 100px;
    line-height: 12px;
    font-size: 12px;
    font-weight: 500;
    color: $primary;
    display: flex;

    &.required::after {
      content: " *";
      color: $danger;
    }
  }
}
