@import "../../../sass/variables";

.formField {
  .label {
    margin-bottom: 6px;

    p {
      color: #000;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: left;
    }
  }

  .additionalLabel {
    padding: 0 16px;
    margin-bottom: 6px;

    p {
      color: $secondary;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &.error {
    .helperText {
      p {
        color: $contentNegative;
      }
    }
  }

  .helperText {
    padding: 0;
    margin-top: 6px;

    p {
      color: $primary;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
