@import "../../../../sass/variables";

.listTransaction {
  background-color: #fff;
  padding: 16px 18px;
  border-radius: 0 0 10px 10px;

  .action {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: $primary;
  }

  .detailWrapper {
    .detail {
      .transactionInfo {
        display: flex;
        margin-bottom: 32px;

        >div {
          width: 50%;
        }

        .transactionInfoItem {
          display: flex;
          gap: 12px;

          label {
            color: $dark-gray;
            width: 160px;
            margin-bottom: 16px;
          }
        }
      }

      .totalTransfer {
        margin-top: 32px;

        .total {
          border: 1px solid $gray-5-light;
          padding: 10px 16px;
          border-radius: 10px;
          background: $gray-6;
          margin-bottom: 32px;

          p {
            font-size: 16px;
          }

          h3 {
            margin-top: 32px;
            font-size: 20px;
            color: $primary;
          }

          >div {
            display: flex;
            justify-content: space-between;
          }
        }

        .btnGroup {
          display: flex;
          justify-content: flex-end;

          button {
            width: 50%;
          }
        }
      }

      .modalDetail {
        .detailBtn {
          font-weight: 400;
          font-size: 16px;
          color: $primary;
        }
      }
    }
  }
}

.trxVolume {
  display: flex;
  column-gap: 8px;

  :nth-child(1) {
    color: #05944F;
  }

  :nth-child(3) {
    color: #E11900;
  }

}
