@import "../../sass/variables";

.createTransaction {
  letter-spacing: -0.4px;
  padding: 40px 24px;

  .pageHeading {
    margin-bottom: 24px;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
    }
  }

  .loading {
    height: 552px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $backgroundSecondary;
    border-radius: 10px;

    .loadingWrapper {
      svg {
        color: $gray-5-light;
      }
    }
  }

  table {
    tr {
      td {
        margin: 0 !important;
      }
    }

    .error {
      input {
        color: red;
      }
    }

    .textInput {
      min-width: 160px;

      input {
        font-size: 12px;
        padding: 6px;
        width: 100%;
      }
    }

    .bankSelect {
      button {
        font-size: 12px;
        padding: 6px 10px;
        width: 160px !important;
      }

      li {
        background: red;
      }
    }
  }

  .inputDataWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.modal {
  .body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .desc {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    .listContent {
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 5px;
      }

      ol {
        margin: 0;
        padding: 0;
        counter-reset: list;
        display: table;
      }

      li {
        list-style: none;
        counter-increment: list;
        display: table-row;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }

      li::before {
        content: counter(list) ".";
        display: table-cell;
        text-align: right;
        padding: 5px 0;
        padding-right: 0.5em;
      }
    }
  }
}

.createWrapper {
  padding: 24px 18px;

  .label {
    margin-bottom: 24px;

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.0011em;
    }
  }

  .detailTrx {
    padding: 16px;
    background: $grey-tertiary;
    border-radius: 10px;
    margin-bottom: 32px;

    .content {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      >div {
        display: flex;
      }

      span:nth-child(1) {
        color: #545454;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        width: 128px;
      }

      span:nth-child(2) {
        color: #545454;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin: 0 16px;
      }

      span:nth-child(3) {
        width: 210px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
      }
    }
  }
}

.uploadFile {
  .uploadCard {
    width: 100%;
    background-color: $backgroundSecondary;
    border-radius: 10px;

    .withBorder {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23B5CAFFFF' stroke-width='3' stroke-dasharray='16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    .dangerBorder {
      background-color: #fae3e2;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23E11900FF' stroke-width='3' stroke-dasharray='16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    .cardWrapper {
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;

      .wrapper {
        padding: 68px 0;
        width: 358px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .loading {
          height: 270px;
          display: flex;
          align-items: center;

          .loadingWrapper {
            svg {
              color: $gray-5-light;
            }
          }
        }

        svg {
          color: $primary;
          margin-bottom: 8px;
        }

        .info {
          span {
            color: $secondary;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
          }

          .failed {
            color: $danger;
          }
        }

        .label {
          width: 100%;
          text-align: center;
          margin-bottom: 23px;

          span {
            color: $secondary;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
          }

          h3 {
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            color: $tertiary;
          }

          button {
            background: $primary-light;
            width: 100%;
            padding: 16px 0;
            border-radius: 10px;
            gap: 8px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.0011em;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;

            &.primaryLight {
              background: $ocean;
              color: $primary;

              svg {
                path {
                  fill: $primary !important;
                }
              }
            }

            svg {
              margin-bottom: 4px;
            }
          }

          .failed {
            color: #000000;
            line-height: 16px;
          }
        }
      }
    }
  }
}

.confirmationWrapper {
  height: 604px;
  display: flex;
  align-items: center;
  justify-content: center;

  >div {
    text-align: center;
  }
}

.transactionTableWrapper {
  .tabContent {
    margin-top: 24px;
  }

  .nominal {
    background: #fff;

    .line {
      display: block;
      height: 1px;
      background: $gray-6;
      width: 100%;
      margin: 24px 0;
    }

    .totalAmount {
      border: 1px solid $borderPrimary;
      padding: 12px 18px;
      border-radius: 10px;
      margin-top: 32px;

      .heading {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
        }
      }

      h3 {
        font-size: 24px;
        font-weight: 700;
        color: $primary;
        line-height: 24px;
      }
    }
  }

  .footer {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #fff;
    padding-top: 24px;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .btn {
      display: flex;
      justify-content: flex-end;
      font-size: 16px;

      button {
        width: 258px;
      }

      .mainButton {
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 13px;
      }

      .adjustBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 13px;

        svg {
          margin-right: 8px;
        }
      }
    }
  }
}

.confimationCard {
  width: 560px;
  height: 244px;
  padding: 24px;
  border-radius: 10px;
  height: fit-content;
  background: #ffffff;
  z-index: 1;

  .header {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .content {
    p {
      font-size: 14px;
    }
  }

  .wrapperBtn {
    display: flex;
    justify-content: flex-end;

    .btn {
      display: flex;
      align-items: center;
      margin-top: 32px;
      width: 350px;
      gap: 11px;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: $gray-6;
    margin: 12px 0;
  }
}

.modalCard {
  width: 608px;
  padding: 24px;
  border-radius: 10px;
  height: fit-content;
  background: #ffffff;
  z-index: 1;

  .header {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .content {
    p {
      font-size: 14px;
      margin-bottom: 32px;
    }
  }

  .notes {
    background: $primary-light;
    display: flex;
    align-items: center;
    padding: 14px 16px;
    border-radius: 10px;

    p {
      font-size: 14px;
      margin-left: 15px;
      color: $primary;
    }
  }

  .wrapperBtn {
    display: flex;
    justify-content: flex-end;

    .btn {
      display: flex;
      align-items: center;
      margin-top: 32px;
      width: 350px;
      gap: 11px;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: $gray-6;
    margin: 12px 0;
  }
}

.editMode {
  display: flex;
  align-items: center;
  gap: 12px;

  .saveBtn {
    height: 36px;
    width: 65px;
    font-size: 12px;
    font-weight: bold;
    background: $primary;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footerCreate {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0 0 auto;

  .content {
    padding-right: 24px;
    width: 50%;
    display: flex;
    gap: 16px;
    flex-direction: column;

    .lineDash {
      margin: 2px 0;
      border: none;
      height: 1px;
      background: #e5e5ea;
      background: repeating-linear-gradient(90deg,
          #e5e5ea,
          #e5e5ea 8px,
          transparent 8px,
          transparent 18px);
    }

    >div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span:nth-child(1) {
        color: #545454;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        width: 300px;
      }

      span:nth-child(2) {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;

        &.primary {
          color: $primary;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .btnAction {
    width: 50%;
    display: flex;
    gap: 16px;

    button {
      width: 100%;
    }
  }
}

.actionButtons {
  display: flex;
  align-items: center;
  column-gap: 8px;

  .saveBtn {
    height: 36px;
    width: 65px;
    font-size: 12px;
    font-weight: bold;
    background: $primary;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    display: flex;
  }
}
