@import "../../../sass/variables";

.imageField {
  .imageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    .uploadLogo {
      width: 89px;
      height: 89px;
      background-color: $gray-5-light;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .button {
    margin-bottom: 8px;
    text-align: center;

    button {
      color: $primary;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }
  }

  .helperText {
    &.error {
      span {
        color: $contentNegative;
      }
    }

    span {
      color: $tertiary;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
