@import "../../../../sass/variables";

.radioRoot {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 8px 12px;
  max-height: 40px;

  &.checked {
    border-color: $primary;
  }

  .radioWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1px;
    margin-right: 10px;

    input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
      position: absolute;
      opacity: 0;
      cursor: inherit;
    }
  }

  .radioLabel {
    font-size: 14px;
    font-weight: 400;
    margin-right: 4px;
    white-space: nowrap;
    color: #757575;

    &.checked {
      color: #000;
    }
  }

  .imageLabel {
    max-height: 22px;

    img {
      width: auto;
      height: 22px;
    }
  }
}
