*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "./variables";

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: $backgroundSecondary;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  cursor: pointer;
  outline: 0;
  position: relative;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid $gray-6;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}
