.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
  margin-top: -12px;
  margin-bottom: -12px;

  [class*="col-"] {
    position: relative;
    width: 100%;
    padding: 12px;
  }

  &.row-6 {
    margin-right: -6px;
    margin-left: -6px;
    margin-top: -6px;
    margin-bottom: -6px;

    [class*="col-"] {
      position: relative;
      width: 100%;
      padding: 6px;
    }
  }

  @media screen and (min-width: 768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-md-2 {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}

.relative {
  position: relative;
}

.ellipsis-text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.text-center {
  text-align: center !important;
}

.text-accent {
  color: $primary !important;
}

.text-negative {
  color: $contentNegative !important;
}

.text-warning {
  color: $contentWarning !important;
}

.text-positive {
  color: $contentPositive !important;
}

.text-disabled {
  color: $contentDisabled !important;
}

.text-primary {
  color: $primary !important;
}

.text-success {
  color: $success !important;
}

.text-danger {
  color: $danger !important;
}

.text-dark-gray {
  color: $dark-gray !important;
}

.underline {
  text-decoration: underline !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.list-none {
  list-style: none;
}

.w-100 {
  width: 100% !important;
}

.w-60 {
  width: 60% !important;
}

.w-40 {
  width: 40% !important;
}

.h-100 {
  height: 100vh !important;
}

.h-25 {
  height: 25vh !important;
}

.h-50 {
  height: 50vh !important;
}

.w-50 {
  width: 50%;
}

.text-center {
  text-align: center !important;
}

.p-0 {
  padding: 0;
}

.p- {
  padding: 16px !important;
}

.p-10 {
  padding: 10px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.py-16 {
  padding: 16px 0 !important;
}

.py-24 {
  padding: 24px 0 !important;
}

.py-26 {
  padding: 26px 0 !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.my-16 {
  margin: 16px 0 !important;
}

.my-32 {
  margin: 32px 0 !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.mb-68 {
  margin-bottom: 68px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-11 {
  margin-right: 11px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.my-24 {
  margin: 24px 0 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-gray {
  background-color: $gray-7 !important;
}

.bg-muted {
  background-color: $muted !important;
}

.border-danger {
  border: 1px solid $danger;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-10 {
  border-radius: 10px;
}

.font-bold {
  font-weight: 500;
}

.font-extrabold {
  font-weight: 600;
}

.cursor-default {
  cursor: default;
}
