//color
$primary: #276ef1;
$primary-light: #e6f2ff;
$warning: #ff9500;
$warning-light: #fffaf0;
$danger: #ff3b30;
$danger-light: #ffefed;
$success: #34c759;
$success-light: #ebfaef;
$muted: #8e8e93;

$black: #000000;
$white: #ffffff;

$secondary: #545454;
$tertiary: #757575;
$inverse-secondary: #cbcbcb;
$inverse-secondary-warning: #fffaf0;

$dark-gray: #85858b;
$gray-light: #78788033;
$gray-3: #f3f3f3;
$gray-4: #d1d1d6;
$gray-5: #e5e5e5;
$gray-5-light: #e5e5ea;
$gray-6: #f2f2f7;
$gray-7: #8a8a8e;
// $muted: #a3a3a3;
$muted: #3c3c43;
$ocean: #e5f2ff;
$disabled: #afafaf;

$dark: #000;
$white: #fff;

//layout
$sidebar-width: 280px;

$contentNegative: #e11900;
$contentAccent: #276ef1;
$contentWarning: #ffc043;
$contentPositive: #05944f;
$contentDisabled: #afafaf;

$backgroundLightAccent: #e3ecfd;
$backgroundSecondary: #f4f6f8;
$borderPrimary: #e2e2e2;
$grey-tertiary: #eeeeee;
$secondary-positif: #e6f2ed;
