@import "../../sass/variables";

.sidebar {
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  min-width: 280px;

  .line {
    background-color: $gray-5-light;
    height: 2px;
    margin: 8px 24px;
  }

  .header {
    padding: 0 22px;
    margin: 24px 0;

    .userCard {
      display: flex;
      margin: 16px 0;
    }

    .userCard,
    .depositCard {
      background-color: $white;
      padding: 12px 16px;
      border-radius: 10px;

      .avatar {
        flex-shrink: 0;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
        width: 48px;
        height: 48px;
        border: 1px solid $gray-6;
        margin-right: 16px;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }

      .user {
        .name {
          margin-bottom: 8px;

          span {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
          }
        }

        .role {
          border-radius: 10px;
          margin-bottom: 8px;
          padding: 2px 14px;
          display: flex;
          width: fit-content;

          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
          }
        }

        .company {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 140px;
          height: 1.2em;
          color: $gray-7;
          white-space: nowrap;

          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .logout {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 280px;
    padding-bottom: 24px;
  }

  .menu {
    height: calc(100vh - 345px);
    overflow: auto;
    overflow-x: hidden;
    position: relative;
  }

  .badge {
    position: absolute;
    right: 15px;
    top: -32px;
    background: $primary;
    margin-left: 8px;
    text-transform: capitalize;
    font-weight: 400;
  }

  @media screen and (max-width: 992px) {
    background-color: $white;
    position: absolute;
    min-width: 0;
    left: 0;
    z-index: 2;
    transition: all ease-in-out 100ms;
    width: 0;
    height: 100%;

    &.open {
      min-width: 280px;
      opacity: 1;
      width: 280px;
    }
  }
}
