@import "../../sass/variables";

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.scrollable {
    overflow-y: scroll;
    align-items: unset;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    overflow-y: inherit;
  }

  .modalWrapper {
    background-color: #fff;
    z-index: 1;
    padding: 24px;
    max-width: calc(100% - 32px);
    border-radius: 10px;
    margin: 16px 0;
    height: fit-content;

    &.scrollable {
      top: 0;
      transform: translate(-50%, 0);
    }

    .modalHead {
      .withoutBorder {
        border-bottom: none;
      }

      .withBorder {
        border-bottom: 1px solid $gray-6;
      }

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.025px;
        }

        button {
          display: flex;
          color: $inverse-secondary;
          flex-shrink: 0;
        }

        .title {
          display: flex;
          align-items: center;
          gap: 8px;

          span {
            padding: 8px;
            border-radius: 100%;

            // Icon Variant
            &.primary {
              background: $primary-light;
              color: $primary;
            }
          }
        }
      }
    }

    .modalBody {
      &.withPadding {
        padding-top: 24px;
      }

      &.withoutPadding {
        padding: 0;
      }
    }
  }
}
