@import "../../../../sass/variables";

.radioGroup {
  &.row {
    display: flex;
    column-gap: 8px;
  }

  &.col {
    display: grid;
    row-gap: 8px;
  }
}

.swiper {
  width: 100%;

  .swiperSlide {
    width: auto
  }
}
