@import "../../../sass/variables";

.radioGroup {
  border: none;

  .radioGroupLabel {
    font-weight: 500;
    margin-bottom: 8px;
  }

  // &.row {
  //   display: flex;
  //   column-gap: 8px;
  // }

  &.col {
    .radio:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.swiper {
  .swiperSlide {
    width: auto
  }
}
