@import "../../sass/variables";

.settings {
  padding: 24px;

  .heading {
    padding: 10px 0;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.5);
    z-index: 1;
    border-radius: inherit;
  }
}
