.metode {
  .tnc {
    margin-bottom: 32px;

    a {
      color: #276EF1;
      font-weight: 700;
    }

    p {
      color: #545454;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.008px;
    }
  }

  .sendInvoice {
    background: #FFFAF0;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    padding: 24px;
    margin-top: 32px;

    display: flex;
    column-gap: 16px;

    .content {
      width: 100%;

      .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        h5 {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: -0.0011em;
          color: #000;
        }

        button {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -0.0006em;
          color: #276EF1;
        }
      }

      p {
        width: 80%;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #757575;
      }
    }
  }

  .paymentMethod {
    margin-top: 32px;

    .heading {
      margin-bottom: 24px;

      h5 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.0011em;
      }
    }

    .radio {
      margin-bottom: 24px;

      .radioItem {
        h5 {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: -0.018px;
          margin-bottom: 12px;
        }

        span,
        p {
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          color: #3C3C4399;
        }
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    .buttonsWrapper {
      width: 75%;
      display: flex;
      justify-content: flex-end;
      column-gap: 16px;

      button {
        width: 50%;
      }
    }
  }
}


.modal {
  .content {
    margin-bottom: 24px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.0006em;
    }
  }

  .example {
    display: flex;
    justify-content: center;

    img {
      width: 320px;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    .buttonsWrapper {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      column-gap: 16px;

      button {
        width: 100%;
      }
    }
  }
}
