@import "../../../../../sass/variables";

.inputPhone {
  .card {
    padding: 32px 24px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    .wrapper {
      width: 358px;

      .headingText {
        margin-bottom: 16px;

        h5 {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 8px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 8px;
          color: $secondary;
        }

        h6 {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $secondary;
        }
      }

      .image {
        margin: 16px 0;

        img {
          width: 220px;
        }
      }

      form {
        width: 100%;
      }
    }
  }
}
