@import "../../sass/variables";

.OTPMaskInputContainer {

  .OTPMask {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    width: 100%;
    justify-content: center;
    column-gap: 8px;

    .OTPValue {
      position: relative;
      box-sizing: border-box;
      width: 40px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border 200ms ease-in-out;
      background-color: $borderPrimary;
      border: 1px solid $borderPrimary;
      border-radius: 10px;

      font-weight: 700;
      font-size: 28px;
      line-height: 44px;
      color: $primary;

      &.OTPValueActive {
        border-color: $primary;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: 30px;
          background: $primary;
          animation: blink 1000ms step-end infinite;
        }
      }
    }

    &.OTPMaskFilled .OTPValue {
      border-color: $primary;
    }

    &.OTPMaskError .OTPValue {
      border-color: $danger;
    }
  }

  .errorText {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $danger;
    text-align: left;
    margin-top: 8px;
  }

  .OTPInput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  @keyframes blink {

    from,
    to {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
}
