@import "../../../../../../sass/variables";

.landingPage {
  height: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .heading {
    margin-bottom: 16px;

    h3 {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
    }

    p {
      font-size: 16px;
      line-height: 16px;
      color: $secondary;
    }
  }

  .verifiedImage {
    margin-bottom: 16px;

    img {
      width: 220px;
    }
  }

  .button {
    button {
      width: 358px;
    }
  }
}
