@import "../../../../sass/variables";

.wrapperFileUpload {
  .heading {
    margin-bottom: 24px;

    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $secondary;
    }
  }

  .upload {
    .stepOne {
      display: flex;
      margin-bottom: 24px;

      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }

      button {
        padding: 10px 24px;
        border: 1px solid $borderPrimary;
        color: $primary;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 700;

        display: flex;
        align-items: center;

        span {
          margin-left: 12px;
        }
      }
    }

    .stepTwo {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
    }

    .step {
      background: $primary;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 24px;
      color: $white;
      font-size: 16px;
    }
  }
}

.wrapperCardIntegrationAPI {
  display: flex;
  gap: 24px;
  align-items: center;

  .asset {
    img {
      max-width: 180px;
      min-width: 180px;
      height: auto;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    .heading {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.008px;
      }

      p {
        color: rgba(60, 60, 67, 0.6);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .groupBtn {
      display: flex;
      align-items: center;
      gap: 24px;

      button {
        padding: 12px 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
      }

      .subtle {
        padding: 0;
        background: none;
        color: $primary;
      }
    }
  }
}

.modalCard {
  width: 608px;
  padding: 24px;
  border-radius: 10px;
  height: fit-content;
  background: #ffffff;
  z-index: 1;

  .header {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .content {
    p {
      font-size: 14px;
      margin-bottom: 32px;
    }
  }

  .notes {
    background: $primary-light;
    display: flex;
    align-items: center;
    padding: 14px 16px;
    border-radius: 10px;

    p {
      font-size: 14px;
      margin-left: 15px;
      color: $primary;
    }
  }

  .wrapperBtn {
    display: flex;
    justify-content: flex-end;

    .btn {
      display: flex;
      align-items: center;
      margin-top: 32px;
      width: 350px;
      gap: 11px;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: $gray-6;
    margin: 12px 0;
  }
}

.errorAlert {
  margin-bottom: 24px;
  border-radius: 10px;
  background: #FFEFED;
  padding: 16px;

  .desc {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    svg {
      margin-right: 16px;
    }

    span {
      font-size: 12px;
      font-style: normal;
      line-height: normal;
      color: #E11900;
      font-weight: 500;
    }
  }

  ul {
    margin-left: 16px;
    margin-bottom: 16px;

    li {
      color: #E11900;

      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .seeMoreBtn {
    button {
      span {
        color: #276EF1;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
      }
    }
  }
}
