.th {
  display: flex;
  align-items: center;
  gap: 4px;

  &.right {
    justify-content: flex-end;
  }

  &.sortable {
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
      color: #276ef1;
    }

    svg {
      padding-left: 4px;
    }
  }
}
