@import "../../../sass/variables";

.notification {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;
  margin-top: 24px;

  .heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 24px;
  }

  .wrapperForm {
    .input {
      border: 1px solid $gray-5;
      border-radius: 10px;
      padding: 22px 18px;
      margin-bottom: 26px;
      width: 100%;
      max-width: 540px;

      &:hover {
        border-color: $gray-4;
      }

      .WrapperCheckbox {
        .checkbox {
          pointer-events: auto;
          flex-direction: row-reverse;

          input {
            &:checked {
              border-color: $primary;
              background-color: $primary;
            }

            cursor: pointer;
          }

          label {
            cursor: pointer;
            padding: 0;
            // padding-right: 32px;
          }
        }

        h4 {
          position: relative;
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 12px;

          .badge {
            position: absolute;
            bottom: 0;
            background: $primary;
            margin-left: 8px;
            text-transform: capitalize;
            font-weight: 400;
          }
        }

        p {
          font-size: 14px;
          color: $dark-gray;
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #d1d1d6;
    margin-bottom: 32px;
  }

  .btnWrapper {
    display: flex;
    justify-content: flex-end;

    button {
      width: 358px;
    }
  }
}

.radioGroup {
  .radioRoot {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: $white;
    border: 1px solid $borderPrimary;
    border-radius: 8px;
    padding: 6px 12px;
    transition: all 200ms ease-in-out;

    &.focus {
      border: 1px solid $primary;

      .radioLabel {
        color: #000;
      }
    }

    .radioWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 1px;
      margin-right: 8px;

      input {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
        position: absolute;
        opacity: 0;
        cursor: inherit;
      }
    }

    .radioLabel {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $tertiary;
    }

    .imageLabel {
      margin: 2px 0;

      img {
        width: 68px;
        height: 28px;
      }
    }
  }
}

.example {
  display: flex;
  justify-content: center;

  img {
    width: 320px;
  }
}
