@import "../../../sass/variables";

.wrapper {
  margin-top: 24px;
}

.note {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}

.action {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: $primary;
}
