@import "../../sass/variables";

.tabContent {
  position: relative;
  background: #fff;
  padding: 16px 18px;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.tabNav {
  // border: 1px solid red;
  // background: #fff;
  position: relative;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  display: flex;
  // border-bottom: 1px solid $gray-4;
  gap: 16px;
  overflow-x: auto;
  align-items: center;

  // //hide scroll
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  .tabIndicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    border-radius: 1px 1px 0 0;
    // background-color: $primary;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1),
      left 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .tabWrapper {
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden;

    .tabTitle {
      cursor: pointer;
      padding: 16px 32px;
      color: $dark-gray;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    background: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &.active {
      background: #fff;

      .tabTitle p {
        color: $primary;
        font-weight: 700;
      }
    }
  }

  //variant tabFullWidth
  &.tabFullWidth .tabWrapper {
    flex-grow: 1;
    justify-content: center;
    height: 100%;

    .tabTitle {
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
}
