@import '../../../../sass/variables';

hr {
  margin: 0;
}

.dash {
  margin: 18px 0;
  border-top: 1px dashed $borderPrimary;
}

table {
  td {
    padding-bottom: 24px;
  }

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.008px;
    color: #757575;
    margin-right: 60px;
  }

  span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.008px;
  }

  h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.053px;
    color: #276EF1;
  }
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  .rowItem {
    display: flex;

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.008px;
      color: #757575;
      width: 50%;
    }

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.008px;
      width: 50%;
      overflow-wrap: break-word;
    }

    h3 {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: -0.053px;
      color: #276EF1;
      width: 50%;
    }
  }
}

.detail {
  .line {
    width: 100%;
    height: 1px;
    background-color: #E2E2E2;
    margin: 24px 0;
  }

  .content {
    display: flex;
    width: 100%;

    .group1 {
      width: 50%;

      h1 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 18px;
      }

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.018px;
      }
    }

    .group2 {
      width: 50%;
    }
  }
}

.buttons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  width: 100%;

  .buttonsWrapper {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
    width: 50%;

    a {
      display: block;
      width: 50%;

      .pdfButton {
        width: 100%;
      }
    }

    button {
      width: 50%;
    }
  }
}
