@import "../../../../sass/variables";

.form {
  .formWrapper {
    display: grid;
    row-gap: 16px;

    .bankAccountNumber {
      .bankAccountNumberWrapper {
        display: flex;
        align-items: center;
        column-gap: 6px;

        .checkNameBtn {
          padding: 14px 12px;
          margin-top: 24px;
          white-space: nowrap;
          display: flex;
          align-items: center;
          background-color: #E3ECFD;
          border-radius: 10px;

          &.error {
            margin-bottom: 22px;
          }

          button {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #276EF1;
          }
        }
      }

      .alert {
        margin-top: 6px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 16px;
        border-radius: 10px;
        border: 1px solid #E2E2E2;

        &.error {
          background-color: #ffd6d6;
        }

        &.primary {
          background-color: #EFF3FE;
        }

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
        }
      }
    }

    .formGroup {
      .label {
        padding: 0 16px;
        margin-bottom: 6px;

        p {
          color: $secondary;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          text-align: left;
        }
      }

      .inputGroup {
        display: flex;
        column-gap: 16px;
        width: 100%;

        .item {
          width: 50%;
        }
      }

      .inputGroup {

        .idType {
          width: 30%;
        }

        .idNumber {
          width: 70%;
        }

        .placeOfBirth,
        .dateOfBirth {
          width: 50%;
        }
      }
    }

    .inputGroup {
      display: flex;
      column-gap: 16px;
      width: 100%;

      .item {
        width: 50%;
      }
    }
  }

  .buttonWrapper {
    padding-top: 32px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;

    button {
      width: 175px;
    }
  }
}
