@import "../../../../sass/variables";

.summary {
  background-color: $white;
  border-radius: 10px;
  padding: 24px;

  .heading {
    margin-bottom: 60px;
    padding-bottom: 24px;

    h5 {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $secondary;
    }
  }

  .container {
    display: flex;
    justify-content: center;

    .wrapper {
      width: 772px;

      .editButton {
        display: flex;
        justify-content: flex-end;

        button {
          padding: 16px 0;
          width: 175px;
        }
      }

      .nextButton {
        display: flex;
        justify-content: center;

        button {
          padding: 16px 0;
          width: 358px;
        }
      }
    }
  }
}

.summarySection {
  .heading {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 48px;
    padding-bottom: 0;

    .headingWrapper {
      display: flex;
      align-items: center;
      column-gap: 8px;
      justify-content: center;

      button {
        display: flex;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .fileCard {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    border: 1px solid $gray-5-light;
    border-radius: 10px;
    padding: 20px;

    .fileWrapper {
      display: grid;
      row-gap: 15px;
    }

    .fileHeading {
      padding-bottom: 16px;
      border-bottom: 1px solid $gray-5-light;
      text-align: left;

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }

      p {
        margin-top: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .card {
    border: 1px solid $gray-5-light;
    border-radius: 10px;
    margin-bottom: 32px;
    padding: 20px;

    .content {
      display: grid;
      row-gap: 32px;

      .fieldGroup {
        display: flex;
        justify-content: space-between;
      }

      .field {
        h6 {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 8px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
        }
      }
    }

    .buttonWrapper {
      padding-top: 32px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      column-gap: 16px;

      button {
        width: 175px;
      }
    }
  }
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  .image {
    max-width: 500px;

    img {
      width: 100%;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: $gray-4;
  margin: 32px 0;
}

.agreement {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 28px;
}

.modalCard {
  width: 560px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;

  .heading {
    h1 {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .modalLine {
    width: 100%;
    height: 1px;
    background-color: $gray-4;
    margin: 24px 0;
  }

  .infoWrapper {
    margin-bottom: 32px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    justify-content: flex-end;
    margin-top: 32px;

    button {
      width: 175px;
    }
  }
}
