.accountVerification {
  padding: 24px;
}

.registrationSuccess {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  display: none;

  &.show {
    display: block;
  }
}
