@import "../../../sass/variables";

.checkboxRoot {
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &:hover {
    .checkboxWrapper .checkbox {
      border-color: $dark;
    }
  }

  .checkboxWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 12px 20px 12px 12px;

    input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
      position: absolute;
      opacity: 0;
      cursor: inherit;

      &:checked {
        + .checkbox {
          background-color: $white;
          svg {
            stroke-dashoffset: 70.12;
          }
        }
      }
    }

    // checkbox
    .checkbox {
      height: 20px;
      width: 20px;
      border: solid 2px $gray-light;
      transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      svg {
        height: 100%;
        width: 100%;
        transition: stroke-dashoffset 300ms ease-in-out;
        fill: none;
        color: $dark;
        stroke: currentColor;
        stroke-width: 2px;
        stroke-dashoffset: 86.12;
        stroke-dasharray: 86.12;
        pointer-events: none;
      }
    }
  }

  .checkboxLabel {
    font-size: 14px;
    font-weight: 500;
  }

  &.primary,
  &.danger,
  &.warning,
  &.success {
    .checkboxWrapper {
      input:checked + .checkbox {
        border-color: transparent;
      }
    }
    .checkbox svg {
      color: $white;
    }
  }

  //Primary
  &.primary {
    &:hover .checkboxWrapper .checkbox {
      border-color: $primary;
    }
    .checkboxWrapper {
      input:checked {
        + .checkbox {
          background-color: $primary;
        }
      }
    }
  }

  //Danger
  &.danger {
    &:hover .checkboxWrapper .checkbox {
      border-color: $danger;
    }
    .checkboxWrapper {
      input:checked {
        + .checkbox {
          background-color: $danger;
        }
      }
    }
  }

  //Warning
  &.warning {
    &:hover .checkboxWrapper .checkbox {
      border-color: $warning;
    }
    .checkboxWrapper {
      input:checked {
        + .checkbox {
          background-color: $warning;
        }
      }
    }
  }

  //Success
  &.success {
    &:hover .checkboxWrapper .checkbox {
      border-color: $success;
    }
    .checkboxWrapper {
      input:checked {
        + .checkbox {
          background-color: $success;
        }
      }
    }
  }

  // Disabled
  &.disabled {
    cursor: auto;

    .checkboxLabel,
    .radioLabel {
      color: $gray-light;
    }

    .checkboxWrapper {
      .checkbox,
      .radio {
        border-color: $gray-light !important;
        background-color: $gray-light !important;

        svg {
          color: $gray-light !important;
        }
      }
    }
  }
}

@keyframes validDash {
  to {
    stroke-dashoffset: 68.12;
  }
}
