@import "../../../../../sass/variables";

.editMode {
  display: flex;
  align-items: center;
  gap: 12px;

  .saveBtn {
    height: 36px;
    padding: 0 8px;
    font-size: 12px;
    font-weight: bold;
    background: $primary;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

table {
  tr {
    td {
      margin: 0 !important;
    }
  }

  .error {
    input {
      color: red;
    }
  }

  .textInput {
    min-width: 160px;

    input {
      font-size: 12px !important;
      padding: 6px !important;
      width: 100% !important;
    }
  }

  .helperText {
    position: absolute;
    margin-top: 0 !important;
  }

  .bankSelect {
    button {
      padding: 1px !important;
      margin: 0;
      width: 160px !important;
    }
  }
}

.buttons {
  display: flex;
  column-gap: 12px;
  justify-content: flex-end;
  margin-top: 24px;

  button {
    width: 188px;
  }
}
