@import "../../../../sass/variables";

.uploadExample {
  width: 100%;
  text-align: center;
  margin-top: 60px;

  span {
    color: $primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
  }
}

.modalUploadExampleCard {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px 32px;
  width: 749px;
  height: fit-content;
  z-index: 1;

  .wrapper {
    display: flex;
    column-gap: 32px;
    margin-bottom: 32px;

    .example {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 174px;
      }
    }

    .correctCard {
      padding: 20px;
      background: #E6F2ED;
      border-radius: 10px;
      width: 50%;

      .label {
        display: flex;
        column-gap: 10px;
        margin-bottom: 10px;

        span {
          color: #05944F;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
        }
      }

      img {
        width: 100%;
      }
    }

    .wrongCard {
      padding: 20px;
      background: #FFEFED;
      border-radius: 10px;
      width: 50%;

      .label {
        display: flex;
        column-gap: 10px;
        margin-bottom: 10px;

        span {
          color: #E11900;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    button {
      width: 175px;
      padding: 16px 0;
    }
  }
}
