@import "../../../sass/variables";

.byApi {
  padding: 24px;

  .heading {
    padding: 10px 0;
    margin-bottom: 24px;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
    }
  }
}
