@import "../../../../sass/variables";

.create {
  form {
    .topCard {
      padding: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: 1px solid $gray-4;

      .heading {
        margin-bottom: 24px;

        h3 {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 8px;
        }

        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          color: $secondary;
        }
      }

      .lineDash {
        margin: 32px 0;
        border: none;
        height: 1px;
        background: #e5e5ea;
        background: repeating-linear-gradient(90deg,
            #e5e5ea,
            #e5e5ea 8px,
            transparent 8px,
            transparent 18px);
      }

      .formLabel {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 8px;
        color: $secondary;
      }

      .amount {
        margin-bottom: 8px;

        .formGroup {
          display: flex;

          .currency {
            background: #ffffff;
            border: 1px solid #e2e2e2;
            padding: 12px 8px;
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #afafaf;
            }
          }

          .input {
            width: 100%;
            max-width: 358px;
          }
        }
      }

      .autoAmount {
        margin-top: 20px;
        margin-bottom: 20px;

        .hyperText {
          color: $tertiary;
        }
      }

      .bankName {
        margin-bottom: 20px;
      }

      .note {
        margin-bottom: 32px;
      }
    }
  }

  .bottomCard {
    padding: 32px 0 0 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    row-gap: 24px;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      width: 70%;
    }

    .btn {
      width: 30%;
    }
  }
}
