@import "../../../../sass/variables";

.success {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 358px;

  .heading {
    margin-bottom: 16px;

    h1 {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }
  }

  .banner {
    margin-bottom: 16px;

    img {
      width: 220px;
      height: 220px;
    }
  }

  .fieldInfo {
    margin-bottom: 16px;

    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 16px;
    }

    .fieldCard {
      background-color: $borderPrimary;
      border-radius: 10px;
      padding: 12px 16px;

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .note {
    margin-bottom: 16px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $secondary;
    }
  }
}
