@import "../../../sass/variables";

.uploadFile {
  .uploadCard {
    width: 100%;
    background-color: $backgroundSecondary;
    border-radius: 10px;
    padding: 14px 16px;

    .cardWrapper {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23276EF1FF' stroke-width='2.5' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;

      .wrapper {
        width: 358px;
        height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .statusIcon {
          margin-bottom: 8px;
        }

        .info {
          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $tertiary;
          }
        }

        .label {
          width: 100%;
          text-align: center;

          h6 {
            color: $tertiary;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 24px;
          }

          h1 {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: $primary;
            margin-bottom: 24px;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: $tertiary;
            margin-bottom: 24px;
          }

          button {
            width: 100%;
            padding: 14px 0;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
