@import "../../../sass/variables";

.login {
  form {
    margin-bottom: 16px;

    .formGroup {
      display: grid;
      row-gap: 8px;
      margin-bottom: 24px;
    }
  }

  .bottom {
    display: grid;
    text-align: center;
    row-gap: 24px;

    h6 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $gray-7;

      a,
      button {
        color: $primary;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}

.modalCard {
  border-radius: 10px;
  background-color: $white;
  width: 400px;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);

  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-5-light;

    h1 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }

    button {
      display: flex;

      svg {
        color: $inverse-secondary;
      }
    }
  }

  .infoWrapper {
    padding: 20px;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;

      a {
        color: $primary;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
}
