@import "../../../sass/variables";

.paginationWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    background-color: $gray-6;
    background: #EEE;

    span {
      display: flex;
      color: #757575;
      text-align: center;
      /* Text Style Web/Caption/Small/Medium */
      font-size: 14px;
      font-family: Inter;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: -0.008px;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.active {
      background-color: $primary;

      span {
        color: $white;
      }
    }
  }
}
