@import "../../sass/variables";

.uploadFile {
  .uploadCard {
    width: 100%;
    background-color: $backgroundSecondary;
    border-radius: 10px;

    .cardWrapper {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23B5CAFFFF' stroke-width='4' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;

      &.success {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23276EF1FF' stroke-width='4' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      }

      &.error {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23E11900FF' stroke-width='4' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        background-color: $danger-light;
      }

      .wrapper {
        padding: 68px 0;
        width: 358px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .loading {
          height: 270px;
          display: flex;
          align-items: center;

          .loadingWrapper {
            svg {
              color: $gray-5-light;
            }
          }
        }

        svg {
          color: $primary;
          margin-bottom: 8px;
        }

        .info {
          margin-bottom: 24px;

          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $tertiary;
          }
        }

        .label {
          width: 100%;
          text-align: center;

          h5 {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 8px;
          }

          h4 {
            color: $secondary;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 16px;
          }

          h6 {
            color: $tertiary;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 24px;
          }

          button {
            width: 100%;
          }
        }
      }
    }
  }
}
