.byAPINotActived {
  background-color: #fff;
  padding: 16px 18px;
  border-radius: 0 10px 10px 10px;
  height: calc(100vh - 182px);

  display: flex;
  justify-content: center;
  align-items: center;

  .byAPINotActivedWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;

    .heading {
      margin-bottom: 16px;

      h3 {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.034px;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.008px;
        color: #757575;
      }
    }

    .image {
      margin-bottom: 16px;

      img {
        width: 216px;
        height: 216px;
      }
    }

    .button {
      margin-bottom: 16px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 360px;
        height: 52px;
        border-radius: 10px;
        background: var(--content-accent, #276EF1);

        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          color: #fff;
        }
      }
    }

    .learnMoreBtn {
      button {
        span {
          color: #276EF1;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          text-decoration-line: underline;
        }
      }
    }
  }
}

.learnMore {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  ol {
    margin-left: 18px;
  }
}

.downloadLabel {
  display: flex;
  align-items: center;
  column-gap: 12px;

  .downloadIcon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #EFF3FE;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: #276EF1;
    }
  }
}
