@import "../../sass/variables";

.tabContent {
  position: relative;
}

.tabNav {
  position: relative;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  display: flex;
  overflow-x: auto;
  align-items: center;
  gap: 16px;

  .tabWrapper {
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    .tabTitle {
      cursor: pointer;
      padding: 16px 32px;

      span {
        font-weight: 500;
        color: $dark-gray;
      }
    }

    &.active {
      background-color: #fff;

      .tabTitle {
        span {
          color: $primary;
        }
      }
    }
  }

  //variant tabFullWidth
  &.tabFullWidth .tabWrapper {
    flex-grow: 1;
    justify-content: center;
    height: 100%;

    .tabTitle {
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
}
