@import "../../../sass/variables";

.activeFilters {
  display: flex;
  align-items: center;
  gap: 18px;
  height: 32px;
  margin-bottom: 18px;

  button.reset {
    font-size: 16px;
    padding: 4px 6px;
    font-weight: 500;
    color: $primary;
    white-space: nowrap;
  }

  .filters {
    overflow: hidden;
  }

  .btnFilter {
    padding: 0 8px 0 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 500;
    color: $dark;
    border: 1px solid $gray-5-light;
    white-space: nowrap;

    &:hover {
      border-color: $primary;

      svg path {
        fill: $primary;
      }
    }

    button {
      padding: 8px 8px 6px 8px;
    }
  }
}

.swiper {
  width: 100%;

  .swiperSlide {
    width: auto
  }
}
