@import "../../../../sass/variables";

.radioRoot {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: $white;
  border: 1px solid $borderPrimary;
  border-radius: 8px;
  padding: 12px;
  transition: all 200ms ease-in-out;

  &.lg {
    padding: 24px;

    .radioWrapper {
      margin-right: 16px;
    }
  }

  &.focus {
    border: 1px solid $primary;

    .radioLabel {
      color: #000;
    }
  }

  .radioWrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1px;
    margin-right: 8px;
    height: 100%;

    input {
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
      z-index: 1;
      cursor: inherit;
      accent-color: $primary;
    }
  }

  .radioLabel {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.008px;

    &.disabled {
      > :nth-child(1) {
        opacity: 0.6;
      }

      > :nth-child(2) {
        opacity: 0.6;
      }
    }
  }

  .imageLabel {
    margin: 2px 0;

    img {
      width: 68px;
      height: 28px;
    }
  }
}
