@import "../../sass/variables";

.verificationCard {
  position: relative;
  padding: 40px 24px;
  background-color: $white;
  border-radius: 10px;
  max-width: 517px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;

  .infoWrapper {
    display: flex;
    align-items: center;
    font-weight: 500;

    .bullet {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      color: $white;
    }
  }

  &.completed {
    cursor: default;
    padding-top: 20px;
    padding-bottom: 24px;
    border: 1px solid rgba($primary, 0.4);

    .infoWrapper {
      .bullet {
        background-color: $success;
      }

      .text {
        color: rgba($primary, 0.6);
      }
    }
  }
}

.inputWrapper {
  max-width: 776px;
}

.fileInputIconWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 41px;

  .fileInput {
    margin-bottom: 15px;

    &:first-child {
      margin-right: 15px;
    }
  }
}

.fileInputWrapper {
  max-width: 640px;
  margin-bottom: 56px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;

  .mainButton {
    max-width: 376px;
  }
}

.tncContainer {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid $gray-5-light;
  max-height: 396px;
  overflow: auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;

  .textWrapper {
    max-width: 681px;
    font-size: 12px;
    line-height: 1.2rem;

    h3 {
      text-align: center;
    }

    a {
      color: $primary;
    }

    ol,
    ul {
      padding-left: 1.5rem;
    }

    ol {
      li {
        &::marker {
          font-weight: bold;
        }
      }
    }

    ol {
      ol {
        li {
          &::marker {
            font-weight: normal;
          }
        }
      }
    }

    p {
      margin: 16px 0;
    }

    .list-upper-alpha {
      list-style-type: upper-alpha;
    }

    .list-decimal {
      list-style-type: decimal;
    }

    .list-lower-roman {
      list-style-type: lower-roman;
    }
  }

  .withIndent {
    text-indent: 2rem;
  }
}

.finishView {
  padding: 48px 8px 40px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .successImg {
    margin: 24px 0;
    height: 256px;
  }

  .successText {
    line-height: 24px;
    margin-bottom: 40px;
  }

  .footerText {
    font-size: 14px;
    line-height: 21px;
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.5);
    z-index: 1;
    border-radius: inherit;
  }
}
