@import "../../../sass/variables";

.selectDropdown {
  position: relative;

  button {
    border: 1px solid $borderPrimary;
    border-radius: 10px;
    background-color: $white;
    text-align: left;
    overflow: hidden;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    width: 100%;

    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.008px;
      width: -webkit-fill-available;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: absolute;
      right: 36px;
      margin-left: 12px;
    }

    .expand {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      svg {
        color: $primary;
        transition: all 200ms ease-in-out;
      }
    }

    .placeholder {
      color: #707070;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &.focus {
    button {
      border: 1px solid $primary;

      .expand {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &.disabled {
    button {
      background-color: $grey-tertiary;

      .expand {
        svg {
          color: $contentDisabled;
        }
      }
    }
  }

  &.error {
    button {
      border: 1px solid $contentNegative;
    }
  }
}

.selectValueContainer {
  display: flex;
  column-gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.option {
  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
  }

  img {
    margin-right: 16px;
    width: 68px;
    height: 28px;
  }
}
