@import "../../sass/variables";

.wrapperDateRangePicker {
  font-family: inherit;
  position: relative;

  input {
    border-radius: 10px;
    border: 1px solid $gray-5-light;
    min-height: auto;
    height: auto;
    padding: 12px 0;
    padding-left: 44px;
    line-height: 1;
  }

  > div[tabindex="-1"] {
    width: 630px;
    padding: 24px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);

    > div[data-mantine-stop-propagation="true"] {
      > div {
        gap: 40px;
      }
    }
  }

  table {
    thead {
      tr {
        position: relative;

        th {
          &:before {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            height: 100%;
            top: 28px;
            z-index: -1;
            border-top: 1px solid $borderPrimary;
          }

          padding-bottom: 24px;
        }
      }
    }

    tbody {
      margin-top: 12px;

      td {
        position: relative;
        isolation: isolate;

        button {
          margin-top: 4px;
          font-weight: 500;
        }
      }

      td button[data-selected="true"] {
        background: $primary !important;
        border-radius: 50%;
      }

      td {
        button[data-in-range="true"] {
          color: #000000;
          font-weight: 500;
          background: $backgroundLightAccent;
        }

        button[data-last-in-range="true"] {
          color: #fff;

          &:before {
            position: absolute;
            content: "";
            left: 0;
            width: 50%;
            height: 100%;
            background: $backgroundLightAccent;
            z-index: -1;
          }
        }

        button[data-first-in-range="true"] {
          color: #fff;

          &:before {
            position: absolute;
            content: "";
            right: 0;
            width: 50%;
            height: 100%;
            background: $backgroundLightAccent;
            z-index: -1;
          }
        }
      }
    }
  }
}
