@import "../../../sass/variables";

.inputWrapper {
  border: 1px solid $borderPrimary;
  border-radius: 10px;
  background-color: $white;
  transition: all 200ms ease-in-out;
  overflow: hidden;

  &.focus {
    border: 1px solid $primary;
  }

  &.error {
    border: 1px solid $contentNegative;
  }

  &.disabled {
    background-color: $grey-tertiary;
  }

  .formControl {
    display: flex;
    justify-content: space-between;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }

    textarea {
      height: 180px;
    }

    input,
    textarea {
      padding: 14px 16px;
      outline: none;
      border: none;
      background: none;
      width: 100%;
      resize: none;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      font-family: "Inter", sans-serif;

      &::placeholder {
        color: #707070;
      }
    }

    .eyeBtn {
      display: flex;
      padding: 10px 16px;
      padding-left: 0;
      cursor: pointer;
    }

    .formated {
      position: relative;
      width: 54px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        color: #afafaf;
      }

      ::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 0.5px;
        height: 100px;
        background: #e2e2e2;
      }
    }
  }

  .inputCounter {
    text-align: right;
    padding: 16px;
    padding-bottom: 12px;
    padding-top: 0;

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #afafaf;
    }
  }
}
