@import "../../sass/variables";

.dashboard {
  padding: 24px;

  .heading {
    padding: 10px 0;
    border-bottom: 1px solid $gray-5-light;
    margin-bottom: 24px;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
    }
  }
}
