@import "../../../sass/variables";

.codeInput {
  position: relative;
  width: 100%;

  input {
    padding: 16px 20px;
    border: 1px solid $gray-6;
    border-radius: 10px;
    display: block;
    width: 100%;
    text-align: center;

    font-family: inherit;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    background: none;
    box-shadow: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    &:focus {
      outline: none;
      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      opacity: 1;
      color: $dark-gray;
    }
  }

  &.error input {
    border-color: rgba($danger, 0.6);
  }

  .loadingCodeInput {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
  }

  .errorText {
    color: $danger;
    font-size: 12px;
  }
}
