@import "../../../../sass/variables";

.submitEmail {
  .heading {
    text-align: center;
    margin-bottom: 24px;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $gray-7;
    }
  }

  .formCard {
    background-color: $white;
    border-radius: 10px;
    padding: 20px 26px;

    form {
      width: 358px;
    }

    .bottom {
      text-align: center;
      margin-top: 24px;

      h5 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $primary;
      }
    }
  }
}
