@import "../../../../sass/variables";

.accordion {
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
  border-radius: 10px;
  background-color: $white;
  padding: 32px 16px;

  .label {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper {
      display: flex;
      column-gap: 20px;
      align-items: center;

      .title {
        width: 500px;

        &.subTitle {
          h1 {
            margin-bottom: 10px;
          }
        }

        h1 {
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          color: $tertiary;
        }
      }
    }

    .dropdown {
      display: flex;

      svg {
        color: $primary;
        transition: all 200ms ease-in-out;
      }

      &.open {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .children {
    overflow: hidden;
    transition: all 200ms ease-in-out;

    &.open {
      margin-top: 32px;
    }
  }
}

.buttonWrapper {
  padding-top: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;

  button {
    width: 175px;
  }
}
