@import "../../../sass/variables";

.selectControl {
  outline: none;
  font-size: 14px;
  transition: all 100ms ease-in-out;
  width: 100%;

}

.closeIcon {
  display: flex;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background-color: transparent;

  svg {
    fill: #ccc;
  }
}

.selectValueContainer {
  p {
    position: absolute;
    left: 0;
    white-space: nowrap;
  }

  h6 {
    color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
  }
}
