.inputMethod {
  display: flex;
  column-gap: 16px;

  .methodCard {
    padding: 24px;
    border-radius: 10px;
    background: #FFF;
    width: 407px;
    text-align: left;

    .icon {
      width: 72px;
      height: 72px;
      border-radius: 100px;
      background: #EFF3FE;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
    }

    h5 {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #707070;
    }
  }
}
