.formField {
  .formGroup {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 10px;

    input {
      padding: 12px 16px;
      width: 100%;
      border: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      border-radius: 10px;

      &:focus {
        outline: none;
      }
    }

    .helperText {}
  }
}
