@import "../../../sass/variables";

.infoWrapper {
  margin-bottom: 32px;

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.buttons {
  display: flex;
  column-gap: 8px;
  justify-content: flex-end;
  margin-top: 32px;

  button {
    min-width: 188px;
    width: auto;
    padding: 16px;
  }
}
