@import "../../../../sass/variables";

.datePicker {
  border: 1px solid $borderPrimary;
  border-radius: 10px;
  background-color: $white;
  transition: all 200ms ease-in-out;
  overflow: hidden;

  &.focus {
    border: 1px solid $primary;
  }

  &.error {
    border: 1px solid $contentNegative;
  }

  &.disabled {
    background-color: $grey-tertiary;
  }

  input {
    padding: 0 16px;
    outline: none;
    border: none;
    background: none;
    width: 100%;
    height: 46px;

    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    &::placeholder {
      color: $disabled;
    }
  }
}
