@import "../../../sass/variables";

.verificationSuccess {
  width: 100%;
  padding: 60px 82px 60px 20px;
  background: $white;
  border-radius: 10px;

  .wrapper {
    display: flex;
    column-gap: 50px;
    width: 100%;

    .verifiedImage {

      img {
        width: 315px;
        height: 315px;
      }
    }

    .successText {
      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
      }

      .textGroup {
        p {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 2px;

          a {
            font-weight: bold;
            color: $primary;
          }
        }
      }
    }
  }
}
