@import "../../../../sass/variables";

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 24px 0;

  .wrapper {
    background-color: $white;
    padding: 24px 32px;
    width: 576px;
    z-index: 999;
    border-radius: 10px;

    .header {
      border-bottom: 1px solid $borderPrimary;
      display: flex;
      justify-content: center;

      img {
        height: 32px;
        margin-bottom: 24px;
      }
    }

    &.loading {
      height: unset;
    }

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .status {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 24px;
      margin-bottom: 32px;

      svg {
        margin-bottom: 8px;
      }

      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 8px;
      }

      h6 {
        color: $secondary;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 150%;
      }

      h1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
      }
    }

    .list {
      display: grid;
      gap: 24px;
      border: 1px solid $borderPrimary;
      border-radius: 10px;
      padding: 16px;

      .item {
        display: flex;
        justify-content: space-between;

        h6 {
          width: 50%;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #545454;
        }

        p {
          width: 50%;
          text-align: right;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }

    .desc {
      padding: 24px 0;
      text-align: center;
      border-bottom: 1px solid $borderPrimary;
      margin-bottom: 24px;

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $secondary;
      }
    }

    .buttons {
      display: flex;
      column-gap: 8px;
      justify-content: center;

      .btn {
        width: 100%;
      }
    }
  }
}
