@import "../../sass/variables";

.exportExcel {
  border-radius: 8px;

  h5 {
    font-size: 14.5px;
    margin-bottom: 4px;
  }
  p {
    margin-top: 2px;
    font-size: 13.5px;
  }
}

.mainButton {
  width: 100%;
  padding: 18px 12px;
  border-radius: 10px;
  font-weight: 700;

  &.primary {
    color: $white;
    background-color: $primary;
  }

  &.primary-light {
    color: $primary;
    background-color: $primary-light;
  }

  &:disabled {
    color: $white;
    background-color: $gray-4;
    opacity: 1;
  }

  &.outlined {
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
    opacity: 1;
  }
}

.collapseCard {
  background-color: $white;
  border: 1px solid $gray-5-light;
  border-radius: 10px;

  .cardHeader {
    padding: 16px 16px 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    cursor: pointer;

    &.withBorder {
      padding: 24px 26px 24px 24px;
    }

    .chevronDown {
      margin-left: 16px;
      transition: transform 300ms;
      color: $primary;
      flex-shrink: 0;

      &.show {
        transform: rotate(180deg);
      }
    }
  }

  .collapse {
    padding: 0 24px;

    .withBorder {
      border-top: 1px solid $gray-6;
    }
  }
}

.simpleCard {
  position: relative;
  background-color: $white;
  padding: 24px;
  border-radius: 10px;

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0.5);
      z-index: 1;
      border-radius: inherit;
    }
  }
}

.success {
  width: 100%;
  display: flex;
  justify-content: center;

  .link {
    font-size: 14px;
    font-weight: 500;
    color: $primary;
  }

  svg {
    color: $primary;
    margin-bottom: 24px;
  }

  div {
    max-width: 376px;
    text-align: center;

    h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      color: $gray-7;
      margin-bottom: 6px;
    }

    a {
      font-size: 14px;
      color: $primary;
      font-weight: 500;
    }
  }
}
