@import "../../../sass/variables";

.tabs {
  .wrapper {
    display: flex;
    width: 100%;

    .tab {
      width: 100%;
      padding: 18px 10px;
      border-bottom: 1px solid $tertiary;

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: $tertiary;
      }

      &.active {
        border-bottom: 2px solid $primary;

        span {
          color: $primary;
          font-weight: 700;
        }
      }
    }
  }

  .content {
    position: relative;
  }
}
