@import "../../../sass/variables";

.formGroup2 {
  width: 100%;

  .formLabel {
    display: block;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .inputWrapper {
    .formControl {
      textarea {
        resize: none;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      select,
      input,
      textarea {
        height: 100%;
        width: 100%;
        display: block;

        font-family: inherit;
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        background: none;
        border-radius: 10px;
        border: 1px solid $gray-5-light;
        padding: 11px 12px;
        box-shadow: none;
        transition: border-color 200ms ease-in-out;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;

        &:hover {
          border: 1px solid $gray-4;
        }

        &:disabled {
          border-color: $muted;
        }

        &:focus {
          outline: none;
          border: 1px solid $primary;
        }

        &::placeholder {
          opacity: 1;
          color: $dark-gray;
          transition: color 200ms ease-in-out;
        }
      }
    }
  }

  // helpertext
  .helperText {
    display: block;
    text-align: left;
    color: $dark;
    font-size: 12px;
  }

  // error
  &.formGroupError {
    .helperText {
      color: $danger;
    }
  }
}
