@import "../../../../../sass/variables";

.imageField {
  .label {
    text-align: center;
    margin-bottom: 16px;

    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    .uploadLogo {
      width: 128px;
      height: 128px;
      background-color: $gray-5-light;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .button {
    margin-bottom: 16px;
    text-align: center;

    button {
      width: 220px;
      padding: 12px 16px;
      background-color: $backgroundLightAccent;
      border: 1px solid $primary;
      border-radius: 10px;

      span {
        color: $primary;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .helperText {
    text-align: center;

    &.error {
      span {
        color: $contentNegative;
      }
    }

    span {
      color: $tertiary;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
