@import "../../../sass/variables";

.kredensial {
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 24px;

  .wrapper {
    width: 100%;
    padding: 24px;

    .line {
      height: 1px;
      margin: 32px 0;
      background-color: $gray-4;
      width: 100%;
    }

    .formWrapper {
      .input {
        width: 100%;
        margin-bottom: 16px;
      }

      .button {

        &.error {
          margin-bottom: 22px;
        }

        &.disabled {
          background-color: $grey-tertiary;
        }

        button {
          background-color: $backgroundLightAccent;
          width: 100%;
          height: 100%;
          border: 1px solid $borderPrimary;
          border-radius: 10px;

          span {
            color: $primary;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      .formGroup {
        display: flex;
        column-gap: 16px;
        margin-bottom: 16px;

        .itemList {
          display: flex;
          flex-flow: wrap;
          gap: 8px;
          margin-bottom: 16px;

          .item {
            display: flex;
            align-items: center;
            column-gap: 8px;
            background-color: #CBCBCB;
            padding: 6px 16px;
            border: 1px solid #E2E2E2;
            border-radius: 40px;
            width: fit-content;

            h6 {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: $secondary;
            }

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .phoneNumber {
      display: flex;
      margin-bottom: 24px;

      .input {
        width: 340px;
        margin-right: 24px;
      }

      .row {
        display: flex;
        align-items: center;
        margin-top: 24px;

        .verifiedAlert {
          display: flex;
          margin-right: 18px;
          column-gap: 24px;
          background: #EFF3FE;
          border-radius: 40px;
          padding: 8px;
          column-gap: 8px;
          width: fit-content;

          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: $primary;
          }
        }

        .changeBtn {
          button {
            color: $primary;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

  }
}

.note {
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $secondary;
  }
}


.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.modalCard {
  width: 560px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;

  .heading {
    h1 {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .modalLine {
    width: 100%;
    height: 1px;
    background-color: $gray-4;
    margin: 24px 0;
  }

  .infoWrapper {
    margin-bottom: 32px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    justify-content: flex-end;
    margin-top: 32px;

    button {
      width: 175px;
    }
  }
}
