@import "../../../sass/variables";

.show {
  display: flex;
  align-items: center;

  .showText {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.008px;
    color: rgba($muted, 0.6);
  }
}

.select {
  margin-left: 16px;

  .selectControl {
    background: #EEEEEE;
    border-radius: 5px;
    border: none;

    .arrowDown {
      display: flex;
      padding: 6px 8px;
    }
  }
}
