@import "../../../../sass/variables";

.fileField {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .wrapper {
    display: flex;
    align-items: center;
    column-gap: 32px;
    padding: 20px;

    .image {
      width: 117px;
      height: 79px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      overflow: hidden;
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    // .pdf {
    //   svg {
    //     color: $primary;
    //   }
    // }

    .pdf {
      width: 117px;
      height: 79px;
      // background: rgba(0, 0, 0, 0.3);
      border: 1px solid $gray-5-light;
      border-radius: 10px;
      overflow: hidden;
      position: relative;

      svg {
        color: $primary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .filename {
      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        word-break: break-word;
      }
    }
  }

  .buttonWrapper {
    button {
      width: 175px;
    }
  }
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  .image {
    max-width: 500px;

    img {
      width: 100%;
    }
  }
}
