@import "../../../sass/variables";

.mainButton {
  border-radius: 10px;
  padding: 16px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  svg {
    width: 24px;
    height: 24px;
    color: $white;
  }

  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  &.primary {
    background-color: $primary;

    span {
      color: $white;
    }
  }

  &.primary-light {
    color: $primary;
    background-color: $primary-light;
  }

  &.danger-light {
    color: #E11900;
    background-color: #FFEFED;
  }

  &.danger {
    color: #FFF;
    background-color: #E11900;
  }

  &.plain {
    background-color: $white;

    span {
      color: $primary;
    }
  }

  &.secondary {
    background-color: $backgroundLightAccent;

    span {
      color: $primary;
    }
  }

  &:disabled {
    background-color: $inverse-secondary;

    span {
      color: $disabled;
    }
  }
}
