@import "../../../sass/variables";

.fileInputRoot {
  input {
    display: none;
  }
  .fileInput {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid $gray-5-light;
    padding: 16px;
    width: 180px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border 250ms ease-in-out;
    .iconWrapper {
      border-radius: 100%;
      background-color: $gray-6;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      height: 72px;
      margin-bottom: 12px;
      transition: background-color 250ms ease-in-out;
      .icon {
        transition: color 250ms ease-in-out;
      }
    }

    .label {
      font-size: 14px;
      font-weight: 500;
    }
    .filename {
      font-size: 12px;
      color: $primary;
    }

    &.filled {
      border-color: rgba($primary, 0.4);
      .iconWrapper {
        background-color: $primary;
        .icon {
          color: $white;
        }
      }
    }
  }
}
