@import "../../../../../sass/variables";

.success {
  .card {
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .wrapper {
      display: grid;
      justify-content: center;
      text-align: center;
      width: 442px;

      .headingText {
        margin-bottom: 16px;
  
        h5 {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 8px;
        }
  
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 8px;
          color: $secondary;
        }
      }
  
      .banner {
        margin-bottom: 16px;
  
        img {
          width: 220px;
          height: 220px;
        }
      }
  
      .button {
        display: flex;
        justify-content: center;
  
        button {
          width: 358px;
        }
      }
    }
  }
}
