@import "../../../../sass/variables";

.feeDetail {
  .label {
    margin-bottom: 24px;

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.0011em;
    }
  }

  .transferAmount {
    width: 100%;
    border: 1px solid #E5E5EA;
    background: #f4f6f8;
    border-radius: 10px;
    padding: 16px;

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: -0.0014em;
    }

    .trxVolumes {
      margin-top: 24px;
      padding: 16px;
      border-radius: 10px;
      border: 1px solid #EEE;
      background: #FFF;

      display: flex;
      justify-content: space-between;
      // column-gap: 70px;

      .volume {
        display: flex;
        column-gap: 8px;
        width: 45%;

        .info {
          &.success {
            h5 {
              color: #05944F;
            }
          }

          &.failed {
            h5 {
              color: #E11900;
            }
          }

          h5 {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.018px;
            margin-bottom: 10px;
          }

          .detail {
            .row {
              display: flex;
              margin-bottom: 10px;

              p {
                font-size: 14px;
                font-family: Inter;
                line-height: 18px;
                letter-spacing: -0.015px;
                color: #757575;
                width: 130px;
                margin-right: 16px;
              }

              span {
                font-size: 14px;
                font-family: Inter;
                line-height: 18px;
                letter-spacing: -0.015px;
              }
            }
          }
        }
      }

      .divider {
        border-left: 1px dashed #E2E2E2;
      }
    }
  }

  .table {
    margin-top: 24px;
  }

  .popupFooter {
    margin-top: 16px;
    margin-left: 40%;
    padding: 0 24px;

    >div {
      display: flex;
      justify-content: space-between;
    }

    .rowTotal {
      padding: 7px 14px;
      margin-bottom: 14px;

      :nth-child(1) {
        width: 60%;
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .totalAmount {
      background: #EEEEEE;
      border-radius: 8px;
      padding: 18px 14px;
      border-radius: 10px;

      p {
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: -0.0017em;

        &:nth-child(1) {
          color: #545454;
          width: 60%;
        }

        &:nth-child(2) {
          color: #276EF1;
        }
      }
    }
  }
}

.tableCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .row {
    display: flex;
    column-gap: 16px;

    span {
      color: #545454;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.015px;

      &:nth-child(1) {
        width: 130px;
      }

      &:nth-child(3) {
        color: #000;
        font-weight: 700;
      }
    }
  }
}

.footerCreate {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0 0 auto;
  padding: 0 24px;

  .content {
    display: flex;
    gap: 16px;
    flex-direction: column;

    .lineDash {
      margin: 2px 0;
      border: none;
      height: 1px;
      background: #e5e5ea;
      background: repeating-linear-gradient(90deg,
          #e5e5ea,
          #e5e5ea 8px,
          transparent 8px,
          transparent 18px);
    }

    >div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span:nth-child(1) {
        color: #545454;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        width: 300px;
      }

      span:nth-child(2) {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;

        &.primary {
          color: $primary;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .btnAction {
    display: flex;
    gap: 16px;
  }
}
