@import "../../../sass/variables";

.phoneInput {
  .label {
    padding: 0 16px;
    margin-bottom: 6px;

    p {
      color: $secondary;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align: left;
    }
  }

  &.error {
    .wrapper {
      .phoneCode {
        border: 1px solid $contentNegative;
      }

      .inputField {
        input {
          border: 1px solid $contentNegative  !important;
        }

        .helperText {
          p {
            color: $contentNegative;
          }
        }
      }
    }
  }

  &.focus {
    .wrapper {
      .inputField {
        input {
          border: 1px solid $primary;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    column-gap: 12px;

    .phoneCode {
      display: flex;
      align-items: center;
      column-gap: 2px;
      // padding: 14px 6px;
      padding: 14px;
      border: 1px solid $borderPrimary;
      border-radius: 8px;
      background-color: $white;
      width: fit-content;
      transition: all 200ms ease-in-out;
      height: 48px;

      h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
      }

      svg {
        color: $contentDisabled;
      }
    }

    .inputField {
      width: 100%;

      input {
        outline: none;
        border: 1px solid $borderPrimary;
        border-radius: 8px;
        background-color: $white;
        padding: 14px 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        width: 100%;

        &::placeholder {
          color: $inverse-secondary;
        }
      }

      .helperText {
        padding: 0 16px;
        margin-top: 6px;
        text-align: left;

        p {
          color: $primary;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

}
