.lessBalanceModal {
  max-width: 560px !important;

  .modalHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #F2F2F7;

    h1 {
      font-weight: 700;
      font-size: 20px;
      line-height: 16px;
    }

    button {
      display: flex;

      svg {
        color: #CBCBCB;
      }
    }
  }

  .modalBody {
    .wrapper {
      display: flex;
      align-items: center;
      column-gap: 24px;
      margin: 24px 0;

      .icon {
        width: 72px;
        height: 72px;
      }

      .copy {
        h3 {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 8px;
        }

        h5 {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  .btnWrapper {
    display: flex;
    column-gap: 8px;
    justify-content: flex-end;
    margin-top: 32px;

    button,
    a {
      width: 175px;
    }
  }
}
