@import "../../../sass/variables";

.inputWrapper {
  border: 1px solid $borderPrimary;
  border-radius: 10px;
  background-color: $white;
  transition: all 200ms ease-in-out;
  overflow: hidden;

  &.focus {
    border: 1px solid $primary !important;
  }

  &.error {
    border: 1px solid $contentNegative;
  }

  &.disabled {
    background-color: $grey-tertiary;
  }

  .formControl {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px 12px;
    height: 40px;

    svg {
      min-width: 24px;
      min-height: 24px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }

    textarea {
      height: 180px;
    }

    input,
    textarea {
      outline: none;
      border: none;
      background: none;
      resize: none;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.008px;

      &::placeholder {
        color: $disabled;
      }
    }

    .eyeBtn {
      display: flex;
      padding: 10px 16px;
      padding-left: 0;
      cursor: pointer;
    }
  }

  .inputCounter {
    text-align: right;
    padding: 16px;
    padding-bottom: 12px;
    padding-top: 0;

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.008px;
      color: #AFAFAF;
    }
  }
}
