@import "../../../../../../sass/variables";

.content {
  p {
    font-size: 14px;
    margin-bottom: 32px;
  }
}

.buttons {
  display: flex;
  column-gap: 8px;
  justify-content: flex-end;
  margin-top: 32px;

  button {
    min-width: 188px;
    width: auto;
    padding: 16px;
  }
}
