@import "../../../../sass/variables";

.notes {
  background: $inverse-secondary-warning;
  display: flex;
  align-items: center;
  padding: 14px 12px;
  border-radius: 10px;
  gap: 10px;

  img {
    width: 24px;
    height: 24px;
  }

  p {
    font-size: 16px;
  }
}
