@import "../../sass/variables";

.steps {
  display: flex;
  column-gap: 8px;

  .step {
    min-width: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    column-gap: 8px;

    .ellipse {
      min-width: 32px;
      height: 32px;
      background-color: #afafaf;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      color: $white;

      .number {
        font-size: 16px;
        color: #fff;
        z-index: 99;
      }
    }

    .label {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #afafaf;

      &.active {
        color: $primary;
      }
    }

    .line {
      position: absolute;
      left: 0;
      top: 16px;
      transform: translate(0, 0);
      height: 1.5px;
      background-color: $disabled;
      margin-right: 8px;

      &.active {
        background-color: $primary;
      }
    }
  }
}
