@import "../../../sass/variables";

.landingPage {
  width: 100%;
  padding: 32px 24px;
  background: $white;
  border-radius: 10px;

  .wrapper {
    display: flex;
    column-gap: 16px;
    width: 100%;

    .verifiedImage {

      img {
        width: 132px;
        height: 132px;
      }
    }

    .welcome {
      width: 100%;

      .heading {
        h6 {
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 8px;
        }

        p {
          color: $secondary;
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: $borderPrimary;
      margin: 24px 0;
    }

    .button {
      display: flex;
      justify-content: flex-end;

      button {
        width: 358px;
      }
    }
  }
}
