@import "../../../../sass/variables";

.radioRoot {
  cursor: pointer;
  display: flex;
  align-items: flex-start;

  &:hover .radioWrapper .radio {
    border-color: $primary;
  }

  .radioWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2px;
    margin-right: 28px;

    input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
      position: absolute;
      opacity: 0;
      cursor: inherit;

      &:checked {
        +.radio {
          border-color: $primary;

          &::after {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }

    .radio {
      height: 20px;
      width: 20px;
      border: solid 2px $dark-gray;
      transition: border-color 300ms ease-in-out;
      border-radius: 100%;
      position: relative;

      &::after {
        border-radius: 100%;
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: center center;
        background-color: $primary;
        transition: transform 300ms ease-in-out;
      }
    }
  }

  .radioLabel {
    padding: 16px;
    flex: 1;
    border: 2px solid $gray-5-light;
    border-radius: 10px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    // &:hover {
    //   border-color: $primary;
    // }

    &.checked {
      border-color: $primary;
    }
  }
}
