@import "../../../sass/variables";

.form {
  .formWrapper {
    padding: 32px 0;
    margin-bottom: 32px;
    display: grid;
    row-gap: 32px;
    border-bottom: 1px solid $tertiary;
  }
}

.radioLabel {

  .alert {
    padding: 6px 16px;
    border-radius: 16px;
    width: fit-content;
    margin-bottom: 8px;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
    }

    &.success {
      background-color: $secondary-positif;

      span {
        color: $contentPositive;
      }
    }

    &.primary {
      background-color: $backgroundLightAccent;

      span {
        color: $primary;
      }
    }
  }

  p {
    color: $secondary;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
