@import "../../../sass/variables";

.mainButton {
  display: block;
  text-decoration: none;
  padding: 16px 20px;
  height: 52px;
  border-radius: 10px;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  cursor: pointer;

  svg {
    fill: $primary;
    position: static !important;
  }

  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.018px;
    white-space: nowrap;
  }

  &.disabled {
    background: #ccc !important;
    color: $white !important;

    span {
      text-shadow: none;
    }

    svg {
      fill: $secondary#ccc !important;
    }
  }

  &.light {
    background: $white;
    color: $dark;

    span {
      text-shadow: none;
    }

    svg {
      filter: none;
      fill: $primary !important;
    }
  }

  &.primary-light {
    background: $primary-light;
    color: $primary;

    span {
      text-shadow: none;
    }

    svg {
      filter: none;
      fill: $primary !important;
    }
  }

  &.dark {
    background: $black;
    color: $white;
    border: 1px solid #ccc;

    svg {
      fill: $white;
    }
  }

  &.yellow {
    background: yellow;
    color: $dark;

    span {
      text-shadow: none;
    }

    svg {
      fill: $dark;
    }
  }

  &.primary {
    background: $primary;
    color: $white;
    border: 0;

    svg {
      fill: $white;
    }
  }

  &.danger {
    background-color: $danger;
    color: $white;

    svg {
      fill: $white;
    }
  }

  &.small {
    padding: 8px 8px;
    justify-content: center;

    span {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
