@import "../../sass/variables";

.wrapper {
  display: flex;
  overflow: auto;
  margin-bottom: 48px;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 152px;
    min-width: 32px;
    max-width: 152px;
    text-align: center;
    position: relative;

    .ellipse {
      width: 32px;
      height: 32px;
      background-color: #dadadc;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      z-index: 1;
      color: $white;

      .number {
        font-size: 16px;
        color: #fff;
        z-index: 99;
      }
    }

    .line {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-50%, 16px);
      /* min-width: 32px; */
      /* max-width: 120px; */
      width: 120px;
      height: 1.5px;
      background-color: #dadadc;
    }

    .title {
      color: #dadadc;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
