@import "../../../../sass/variables";

.dateRangePicker {
  font-family: inherit;
  position: relative;

  input {
    border-radius: 10px;
    border: 1px solid $gray-5-light;
    min-height: auto;
    height: auto;
    padding: 12px;
    line-height: 20px;
    padding-right: 28px;
    text-overflow: ellipsis;

    &:hover {
      border: 1px solid $gray-4;
    }
  }
}
