@import "../../../../sass/variables";

.confirmCreate {

  .wrapper {
    margin: 32px 0;

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $tertiary;
      margin-bottom: 16px;
    }

    .summary {
      padding: 24px;
      background-color: #EFF3FE;
      border-radius: 10px;
      margin-bottom: 16px;

      tr {
        td {
          &:nth-child(2) {
            padding: 0 16px;
          }

          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }

    .note {
      padding: 16px;
      background-color: #FFF8E5;
      border-radius: 10px;

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $secondary;
        margin: 0;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 4px;

    .backButton {
      button {
        padding: 16px 20px;
        width: fit-content;

        span {
          color: $primary;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    .saveButton {
      button {
        width: 175px;
      }
    }
  }
}
