@import "../../sass/variables";

.authLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundSecondary;
  width: 100%;
  height: 100vh;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 32px;

    .banner {
      img {
        width: 642px;
        height: 642px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;

        img {
          width: 145.6px;
          height: 39px;
        }
      }

      .heading {
        text-align: center;
        margin-bottom: 24px;

        h1 {
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          margin: 0 16px;
          margin-bottom: 8px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: $gray-7;
        }
      }

      .formWrapper {
        width: 358px;
      }
    }
  }
}
