@import "../../../../sass/variables";

.emailVerification {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .headingText {
    margin-bottom: 16px;

    h5 {
      font-weight: 700;
      font-size: 20px;
      line-height: 18px;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 8px;
      color: $secondary;
    }

    h6 {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: $secondary;
    }
  }

  .image {
    margin-bottom: 16px;

    img {
      width: 220px;
    }
  }

  .resendAlert {
    background: #FFFAF0;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 16px;
    max-width: 358px;

    .message {
      text-align: left;

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #FF9500;
      }
    }
  }

  .input {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .note {
    margin-bottom: 16px;
    width: 358px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $secondary;
    }
  }

  .buttonWrapper {
    margin-bottom: 16px;
    width: 358px;
  }

  .resend {
    margin-bottom: 16px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $secondary;
    }
  }

  .timer {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    span {
      color: $secondary;
      margin-right: 4px;
    }

    button {
      color: $contentAccent;
      text-decoration: underline;
    }
  }
}
