@import "../../../styles/variables";

.mainButton {
  padding: 8px;
  border-radius: 10px;
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;

  svg {
    fill: $primary;
    position: static !important;
  }

  span {
    font-size: 16px;
    font-weight: 500;
  }

  &.light {
    background-color: $white;
    color: $primary;
    border-bottom: 3px solid $primary;

    svg {
      fill: $primary  !important;
    }
  }

  &.dark {
    background-color: $black;
    color: $white;
    border-bottom: 3px solid $white;

    svg {
      fill: $white;
    }
  }

  &.primary {
    background-color: $primary;
    color: $white;
    border-bottom: 3px solid $white;

    svg {
      fill: $white;
    }
  }
}
