@import "../../../../../sass/variables";

.cardIntegrationApi {
  display: flex;
  gap: 24px;
  align-items: center;

  .asset {
    img {
      max-width: 180px;
      min-width: 180px;
      height: auto;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    .heading {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.008px;
      }

      p {
        color: rgba(60, 60, 67, 0.6);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .groupBtn {
      display: flex;
      align-items: center;
      gap: 24px;

      button {
        padding: 12px 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
      }

      .subtle {
        padding: 0;
        background: none;
        color: $primary;
      }
    }
  }
}
