@import "../../../../sass/variables";

.dataVerification {
  padding: 32px 16px;
  background-color: $white;
  border-radius: 10px;

  .heading {
    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $secondary;

      span {
        text-decoration: underline;
        color: $primary;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;

    form {
      width: 100%;
    }

    .form {
      width: 100%;

      .heading {
        margin-bottom: 8px;
        text-align: center;
        display: flex;
        margin-bottom: 24px;
        justify-content: center;

        .headingWrapper {
          display: flex;
          align-items: center;
          column-gap: 8px;

          button {
            display: flex;
          }
        }

        h5 {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 0;
        }
      }

      .formWrapper {
        display: grid;
        row-gap: 16px;

        .bankAccountNumber {
          .bankAccountNumberWrapper {
            display: flex;
            align-items: center;
            column-gap: 6px;

            .checkNameBtn {
              padding: 14px 12px;
              margin-top: 24px;
              white-space: nowrap;
              display: flex;
              align-items: center;
              background-color: #E3ECFD;
              border-radius: 10px;

              &.error {
                margin-bottom: 22px;
              }

              button {
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                color: #276EF1;
              }
            }
          }

          .alert {
            margin-top: 6px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 11px 16px;
            border-radius: 10px;
            border: 1px solid #E2E2E2;

            &.error {
              background-color: #ffd6d6;
            }

            &.primary {
              background-color: #EFF3FE;
            }

            &.loading {
              background-color: $white;
            }

            span {
              font-weight: 400;
              font-size: 16px;
              line-height: 18px;
            }
          }
        }

        .formGroup {
          .label {
            padding: 0 16px;
            margin-bottom: 6px;

            p {
              color: $secondary;
              font-weight: 400;
              font-size: 16px;
              line-height: 18px;
              text-align: left;
            }
          }

          .inputGroup {

            .idType {
              width: 30%;
            }

            .idNumber {
              width: 70%;
            }

            .placeOfBirth,
            .dateOfBirth {
              width: 50%;
            }
          }
        }
      }
    }

    .inputGroup {
      display: flex;
      column-gap: 16px;
      width: 100%;

      .item {
        width: 50%;
      }
    }

    .buttons {
      display: flex;
      column-gap: 8px;
      justify-content: center;
      margin-top: 32px;

      button {
        width: 358px;
      }
    }

  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: $gray-4;
  margin: 32px 0;
}

.line2 {
  width: 100%;
  height: 1px;
  background-color: $gray-4;
  margin: 24px 0;
}
