@import "../../../sass/variables";

.fileInputRoot {
  input {
    display: none;
  }
  .fileInput {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid $gray-5-light;
    padding: 6px;
    width: 100%;
    display: flex;
    align-items: center;

    .uploadButton {
      width: auto;
      margin-right: 16px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      .icon {
        margin-right: 8px;
      }
    }

    .filename {
      color: $dark-gray;
      .filled {
        color: $primary;
      }
    }
  }

  &.error {
    .fileInput {
      border-color: rgba($danger, 0.4);
    }
  }
}
