@import "../../../sass/variables";

.agreementCheckbox {
  display: flex;
  align-items: center;
  column-gap: 8px;

  button {
    display: flex;
  }

  .label {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $secondary;
  }
}
