@import "../variables";

$datepicker__border-color: none;
$datepicker__selected-color: $primary;
$datepicker__text-color: $dark-gray;
$datepicker__border-radius: 10px;
$datepicker__font-size: 12px;
$datepicker__font-family: "Roboto", sans-serif;
$datepicker__triangle-size: 0;

.react-datepicker-wrapper {
  width: 100%;

  .react-datepicker__input-container {
    input {
      padding-top: 20px;
      padding-right: 36px;
      width: 100%;
      display: block;
      font-family: inherit;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 400;
      background: none;
      border: 0;
      border-bottom: 1px solid transparent;
      box-shadow: none;
      outline: none;
    }
  }
}

.react-datepicker {
  box-shadow: 0px 0px 2px rgba($dark, 0.12);
}

@import "~react-datepicker/src/stylesheets/datepicker.scss";
