@import "../../../../../sass/variables";

.phoneVerification {
  .card {
    padding: 32px 24px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    .wrapper {
      width: 358px;

      .headingText {
        margin-bottom: 16px;

        h5 {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 8px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 8px;
          color: $secondary;
        }

        h6 {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $secondary;
        }
      }

      .image {
        margin-bottom: 16px;

        img {
          width: 220px;
        }
      }

      .input {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
      }

      .note {
        margin-bottom: 16px;

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $secondary;
        }
      }

      .buttonWrapper {
        margin-bottom: 16px;
      }

      .resend {
        margin-bottom: 16px;

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: $secondary;
        }
      }

      .timer {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        span {
          color: $secondary;
          margin-right: 4px;
        }

        button {
          color: $contentAccent;
          text-decoration: underline;
        }
      }
    }
  }
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.modalCard {
  width: 560px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;

  .heading {
    h1 {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .modalLine {
    width: 100%;
    height: 1px;
    background-color: $gray-4;
    margin: 24px 0;
  }

  .infoWrapper {
    margin-bottom: 32px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    justify-content: flex-end;
    margin-top: 32px;

    button {
      width: 175px;
    }
  }
}
