@import "../../../sass/variables";

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  .modalCard {
    width: 560px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 24px;

    .heading {
      h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }
    }

    .modalLine {
      width: 100%;
      height: 1px;
      background-color: $gray-4;
      margin: 24px 0;
    }

    .infoWrapper {
      margin-bottom: 32px;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .buttons {
      display: flex;
      column-gap: 8px;
      justify-content: flex-end;
      margin-top: 32px;

      button {
        width: 175px;
      }
    }
  }

}
