@import "../../../../sass/variables";

.uploadDocument {
  padding: 32px 16px;
  background-color: $white;
  border-radius: 10px;

  .heading {
    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $secondary;

      span {
        text-decoration: underline;
        color: $primary;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;

    .form {
      width: 732px;

      .subHeading {
        text-align: center;
        margin-bottom: 24px;

        h5 {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
        }
      }

      .formWrapper {
        display: grid;
        row-gap: 32px;

        .isEffective {
          display: flex;
          justify-content: center;
          margin-bottom: 32px;

          h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 32px;
          }

          .checkboxs {
            display: flex;
            column-gap: 20px;
            justify-content: center;
          }
        }

        .uploadSection {
          margin-bottom: 32px;

          .label {
            margin-bottom: 32px;

            h3 {
              font-weight: 700;
              font-size: 18px;
              line-height: 24px;
            }
          }
        }

        .additionalUploads {
          display: flex;
          justify-content: center;
          margin-bottom: 32px;

          .label {
            text-align: center;
            width: 556px;
            margin-bottom: 32px;

            h3 {
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
            }
          }

          .checks {
            display: flex;
            column-gap: 90px;
          }
        }
      }
    }

    .buttons {
      display: flex;
      column-gap: 8px;
      justify-content: flex-end;
      margin-top: 68px;

      button {
        width: 175px;
      }
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: $gray-4;
  margin: 32px 0;
}
