@import "../../../../sass/variables";

.newAccount {
  .heading {
    text-align: center;
    margin-bottom: 16px;

    h5 {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }
  }

  form {
    margin-bottom: 16px;

    .formGroup {
      display: grid;
      row-gap: 8px;
      margin-bottom: 24px;
    }
  }

  .bottom {
    h6 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $gray-7;

      a {
        color: $primary;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}
