.maintenance {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      width: 320px;
      margin-bottom: 32px;
    }

    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.041px;
      margin-bottom: 8px;
    }

    p {
      color: rgba(60, 60, 67, 0.60);
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.008px;
      margin-bottom: 24px;
    }

    button {
      width: 240px;
    }
  }
}
