@import "../../../sass/variables";

.overview {
  border-radius: 10px;
  background-color: $white;
  padding: 24px 16px;
  margin-bottom: 24px;

  .welcome {
    display: flex;

    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      margin-right: 4px;
    }
  }

  .dateNow {
    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $tertiary;
    }
  }

  .line {
    margin: 24px 0;
    background-color: $backgroundSecondary;
    width: 100%;
    height: 1px;
  }

  .overviewWrapper {
    .title {
      margin-bottom: 24px;

      h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 18px;
      }
    }

    .row {
      display: flex;
      column-gap: 16px;
    }
  }
}

.overviewCard {
  background-color: $white;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid $gray-5-light;
  width: 100%;
  position: relative;

  &:hover {
    border-color: $inverse-secondary;
  }

  &.waiting {
    color: $primary;
  }

  &.completed {
    color: $contentPositive;
  }

  &.canceled {
    color: $contentNegative;
  }

  .status {
    display: flex;
    column-gap: 8px;
    align-items: center;
    text-align: left;
    margin-bottom: 8px;
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
    }

    svg {
      color: $disabled;
      margin-top: 3px;
    }
  }

  .chevronRight {
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $disabled;
  }

  .total {
    margin-top: 10px;
    h1 {
      text-align: left;
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
    }
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0.5);
      z-index: 1;
      border-radius: inherit;
    }
  }
}
