@import "../../../../sass/variables";

.info {
  display: flex;
  margin-bottom: 32px;

  .col {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .dataItem {
    display: flex;

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.0011em;
      overflow-wrap: anywhere;

      &:nth-child(1) {
        color: #8a8a8d;
        font-weight: 500;
        width: 135px;
        min-width: 135px;
      }

      &:nth-child(2) {
        color: #8a8a8d;
        min-width: 16px;
      }
    }
  }
}

.totalTransfer {
  margin-top: 42px;
  padding: 10px 16px;
  width: 100%;
  background: #F2F2F7;
  border: 1px solid #E5E5EA;
  border-radius: 10px;

  .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    button {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      display: flex;
      letter-spacing: -0.0011em;
      color: #276EF1;
    }
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #276EF1;
  }
}

.hr {
  height: 1px;
  width: 100%;
  background: #F2F2F7;
  margin-bottom: 24px;
}

.summary {
  .heading {
    margin-bottom: 24px;

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.008px;
    }
  }
}

.modal {
  .content {
    h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.0011em;
      margin-bottom: 4px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.0006em;
    }
  }
}

.tableCard {
  padding: 16px;
  width: 100%;
  background: #EFF3FE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  .row {
    display: flex;
    column-gap: 16px;

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.008px;

      &:nth-child(1) {
        color: #545454;
        width: 130px;
      }

      &:nth-child(3) {
        font-weight: 600;
      }
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;

  .buttonsWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;

    button {
      width: 175px;
    }
  }
}

.modalCard {
  padding: 24px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}
