@import "../../sass/variables";

.emailField {
  display: flex;
  align-items: center;
  column-gap: 8px;

  .isOwner {
    display: flex;
    align-items: center;
    background: #FFEED8;
    border-radius: 40px;
    padding: 8px;
    gap: 8px;

    span {
      color: #FF9500;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.roleAlert {
  display: flex;
  align-items: center;
  column-gap: 8px;

  span {
    color: $contentAccent;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}

.statusAlert {
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 40px;
  padding: 8px 16px;
  gap: 8px;
  width: fit-content;

  &.active {
    background-color: #E6F2ED;
    color: #05944F;
  }

  &.inactive {
    background-color: #FFEFED;
    color: #E11900;
  }

  svg {
    width: 18px;
    height: 18px;
  }

  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}

.multiAccount {
  padding: 24px;

  .heading {
    padding: 10px 0;
    border-bottom: 1px solid $gray-5-light;
    margin-bottom: 24px;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .widgets {
      display: flex;
      column-gap: 16px;
      margin-right: 16px;
      width: 85%;
    }

    .createBtnWrapper {
      width: 15%;

      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-right: 8px;
        }

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  .tableCard {
    background-color: $white;
    padding: 36px 18px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    border: 1px solid $gray-5-light;
  }
}


.widget {
  background-color: $white;
  padding: 16px 18px;
  width: 100%;
  border-radius: 10px;
  position: relative;

  .widgetHeading {
    display: flex;
    margin-bottom: 8px;

    p {
      color: $gray-7;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      margin-right: 8px;
    }
  }

  .content {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0.5);
      z-index: 1;
      border-radius: inherit;
    }
  }
}

.actionButtons {
  display: flex;
  align-items: center;
  column-gap: 8px;

  button {
    display: flex;
  }
}

.modalHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #F2F2F7;

  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
  }

  button {
    display: flex;

    svg {
      color: #CBCBCB;
    }
  }
}
