@import "../../../sass/variables";

.uploadFile {
  .uploadCard {
    width: 100%;
    background-color: $backgroundSecondary;
    padding: 15px;
    border-radius: 10px;

    .cardWrapper {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23276EF1FF' stroke-width='2.5' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;

      .wrapper {
        padding: 68px 0;
        width: 358px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .loading {
          height: 270px;
          display: flex;
          align-items: center;

          .loadingWrapper {
            svg {
              color: $gray-5-light;
            }
          }
        }

        svg {
          color: $primary;
          margin-bottom: 8px;
        }

        .info {
          span {
            color: $tertiary;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
          }

          .failed {
            color: $danger;
          }
        }

        .label {
          width: 100%;
          text-align: center;
          margin-bottom: 23px;

          span {
            color: $tertiary;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
          }

          h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: $primary;
          }

          button {
            background: $primary;
            width: 100%;
            padding: 16px 0;
            border-radius: 10px;
            gap: 8px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.0011em;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;

            &.primary-light {
              background: $ocean;
              color: $primary;

              svg {
                path {
                  fill: $primary !important;
                }
              }
            }

            svg {
              margin-bottom: 4px;
            }
          }

          .failed {
            color: $danger;
          }

          .success {
            color: $contentPositive;
          }
        }
      }
    }
  }
}

.uploadItem {
  margin-bottom: 32px;

  h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 32px;
  }

  .dropZone {
    margin-bottom: 32px;
  }

  .addtional {
    .infoSection {
      text-align: center;
      margin: 0 64px;
      h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.11%;
      }
    }
    .checkboxSection {
      margin-bottom: 32px;
      display: flex;
      justify-content: center;
      gap: 32px;
      align-items: center;

      .mantine-Checkbox-input {
        border: 3px solid $inverse-secondary;
        &:checked {
          border-color: $primary;
          background: $primary;
        }
      }
      .mantine-Checkbox-label {
        font-size: 16px;
        letter-spacing: -0.11%;
        line-height: 20px;
      }
    }
  }
}
