@import "../../../sass/variables";

.modalWrapper {
  max-width: 500px !important;
}

.modalHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #F2F2F7;

  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
  }

  button {
    display: flex;

    svg {
      color: #CBCBCB;
    }
  }
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;

  button {
    width: 175px;
  }
}
