@import "../../sass/variables";

.topControl {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 16px;

  .filterWrapper {
    display: flex;
    column-gap: 16px;
    width: 100%;
  }

  .filterWrapper>* {
    width: 100%;
  }
}

.toolsControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .left {
    position: absolute;
    margin: 0 auto;

    .search {
      display: grid;
      column-gap: 16px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    column-gap: 16px;

    .excelBtn {
      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.008px;
      }
    }
  }
}

.downloadLabel {
  display: flex;
  align-items: center;
  column-gap: 12px;

  .downloadIcon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #EFF3FE;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: #276EF1;
    }
  }
}

.downloadExcelButtons {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  button {
    width: 100%;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);

  .loadingCard {
    border-radius: 10px;
    background: #FFF;
    padding: 16px;
    position: sticky;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    &.onlyOne {
      transform: translate(-50%, -14%);
    }

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
    }
  }
}

.tableWrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  position: relative;
  border-radius: 10px;
  // z-index: 2;

  &.tableBorder {
    border-radius: 10px;
    border: 1px solid $borderPrimary;
  }

  .bgTable {
    border-radius: 0 0 10px 10px;
    border: 1px solid $borderPrimary;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: -1;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    position: relative;

    td {
      color: $secondary;
      font-weight: 500;
    }

    th:first-child,
    td:first-child {
      padding-left: 24px;
    }

    th:last-child,
    td:last-child {
      padding-right: 24px;
    }

    .right {
      text-align: right;
    }

    .center {
      text-align: center;
    }

    th,
    td {
      width: fit-content;
      padding: 16px 24px;
      vertical-align: middle;
      text-align: left;

      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      white-space: nowrap;
    }

    .noData {
      text-align: center;
      padding: 64px 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 144px;
        height: 144px;
        margin-bottom: 24px;
      }

      h1 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.034px;
        color: $dark;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.008px;
        color: $dark-gray;
        margin: 0;
      }
    }

    thead {
      font-size: 12px;
      background-color: #f4f6f8;
      color: $secondary;
      position: relative;

      tr {

        // text-transform: uppercase;
        &.loadingRow {

          th,
          td {
            padding: 0;
          }
        }
      }
    }

    tbody {
      font-size: 14px;

      tr:not(:last-child) {
        border-bottom: 1px solid $borderPrimary;
      }
    }
  }
}

.bottomControl {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}
