@import "../../../sass/variables";

.userCard {
  display: flex;
  padding: 16px 12px;
  border-radius: 10px;
  border: 1px solid #E5E5EA;
  background: #F4F6F8;
  margin-bottom: 16px;

  .avatar {
    flex-shrink: 0;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid $gray-6;
    margin-right: 16px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }
  }

  .user {
    .name {
      margin-bottom: 8px;

      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.018px;
        display: block;
      }
    }

    .role {
      padding: 4px 12px;
      display: flex;
      width: fit-content;
      border-radius: 100px;

      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        display: block;
      }
    }

    .company {
      margin-bottom: 8px;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 140px;
      height: 1.2em;
      color: $gray-7;
      white-space: nowrap;

      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        display: block;
      }
    }
  }
}
