@import "../../../sass/variables";

.circularProgress {
  width: 36px;
  height: 36px;
  border: 4px solid #ffffff;
  border-top-color: #266ef1;
  border-right-color: #266ef1;
  border-bottom-color: #266ef1;
  border-radius: 50%;
  animation: round 800ms infinite;
}

@keyframes round {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}
