@import "../../../sass/variables";

.editForm {
  form {
    .formWrapper {
      display: grid;
      row-gap: 24px;

      .bankAccountNumber {
        .bankAccountNumberWrapper {
          display: flex;
          align-items: center;
          column-gap: 20px;

          .checkNameBtn {
            padding: 14px 12px;
            margin-top: 24px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            background-color: #E3ECFD;
            border-radius: 10px;
            color: #276EF1;

            &.error {
              margin-bottom: 22px;
            }

            &.disabled {
              background-color: #EEE;
              color: #AFAFAF;
            }

            button {
              font-weight: bold;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }

        .alert {
          margin-top: 12px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 11px 16px;
          border-radius: 10px;
          border: 1px solid #E2E2E2;

          &.error {
            background-color: #ffd6d6;
          }

          &.primary {
            background-color: #EFF3FE;
          }

          &.loading {
            background-color: $white;
          }

          span {
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
