@import "../../../sass/variables";

.modalCard {
  background-color: $white;
  width: 560px;
  border-radius: 10px;
  padding: 24px;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);

  .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;

    button {
      display: flex;

      svg {
        color: $inverse-secondary;
      }
    }
  }

  .imgWrapper {
    margin-bottom: 24px;

    img {
      width: 184px;
      height: 72px;
    }
  }

  .tooltipWrapper {
    h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 16px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.tooltip {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-top: 6px;

  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
    color: $primary;
  }
}
