@import "../../../createTransaction.module.scss";

.uploadFile {
  .uploadCard {
    width: 100%;
    background-color: $backgroundSecondary;
    border-radius: 10px;

    .cardWrapper {
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23B5CAFFFF' stroke-width='4' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

      // &.success {
      //   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23276EF1FF' stroke-width='4' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      // }

      &.error {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23E11900FF' stroke-width='4' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        background-color: $danger-light;
      }

      &.warning {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23FFC043' stroke-width='4' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        background-color: $warning-light;
      }

      &.loading {
        background-image: none;
      }

      .wrapper {
        padding: 68px 0;
        width: 358px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .loading {
          height: 270px;
          display: flex;
          align-items: center;

          .loadingWrapper {

            .loadingProgress {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .percentage {
                margin-top: 14px;
                margin-bottom: 16px;

                h5 {
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 14px;
                  color: #276EF1;
                }
              }

              .progressWrapper {
                padding: 6px 8px;
                background-color: #fff;
                border-radius: 50px;

                .progress {
                  border: 1px solid #AFAFAF;
                  border-radius: 50px;
                  width: 400px;

                  .content {
                    height: 8px;
                    margin: 2px;
                    border-radius: 50px;
                    background-color: #276EF1;
                    transition: width 0s ease-in-out;
                  }
                }
              }
            }
          }
        }

        svg {
          color: $primary;
          margin-bottom: 8px;
        }

        .info {
          margin-bottom: 24px;

          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $tertiary;
          }
        }

        .label {
          width: 100%;
          text-align: center;

          h5 {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 8px;
          }

          h4 {
            color: $secondary;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 16px;
          }

          h6 {
            color: $tertiary;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 24px;
          }

          button {
            width: 100%;
          }
        }
      }
    }
  }
}

.default {
  .label {
    width: 100%;
    text-align: center;
    margin-bottom: 23px;

    span {
      color: $secondary;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }

    h3 {
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      color: $tertiary;
    }

    button {
      background: $primary-light;
      width: 100%;
      padding: 16px 0;
      border-radius: 10px;
      gap: 8px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.0011em;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary;

      &.primaryLight {
        background: $ocean;
        color: $primary;

        svg {
          path {
            fill: $primary !important;
          }
        }
      }

      svg {
        margin-bottom: 4px;
      }
    }

    .failed {
      color: $danger;
    }
  }
}
