@import "../../../../sass/variables";

.lineDash {
  margin: 32px 0;
  border: none;
  height: 1px;
  background: #e5e5ea;
  background: repeating-linear-gradient(
    90deg,
    #e5e5ea,
    #e5e5ea 8px,
    transparent 8px,
    transparent 18px
  );
}

.payment {
  display: flex;
  justify-content: center;

  .info {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $secondary;
    margin-bottom: 8px;

    b {
      color: black;
    }
  }

  .paymentWrapper {
    width: 376px;

    .heading {
      text-align: center;
      margin-bottom: 16px;

      h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
      }
    }

    .warnCard {
      padding: 16px;
      background: #fff8e5;
      border-radius: 10px;
      margin-bottom: 16px;

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $tertiary;
      }
    }

    .btnCopy {
      display: flex;
      column-gap: 8px;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $primary;
      }
    }

    .bankAccountCard {
      padding: 24px 16px;
      background: $gray-6;
      border-radius: 10px;
      margin-bottom: 16px;

      .bankInfo {
        display: flex;
        column-gap: 8px;
        padding-bottom: 16px;
        border-bottom: 1px solid #d1d1d6;

        .bankLogo {
          img {
            width: 93px;
            height: 38px;
          }
        }

        .detail {
          h6 {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
          }

          .bankName {
            margin-bottom: 8px;
          }
        }
      }

      .bankAccount {
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-weight: 700;
          font-size: 24px;
          line-height: 20px;
        }
      }
    }

    .amountCard {
      padding: 24px 16px;
      background: $gray-6;
      border-radius: 10px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .note {
      margin-bottom: 16px;

      ul {
        list-style: none;
        row-gap: 8px;
        display: flex;
        flex-direction: column;

        li {
          display: flex;

          .index {
            min-width: 20px;
            height: 20px;
            background-color: $primary;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;

            span {
              font-weight: 700;
              font-size: 12px;
              line-height: 16px;
              color: #fff;
            }
          }

          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: $secondary;

            span {
              font-weight: 700;
            }
          }
        }
      }
    }

    .buttons {
      row-gap: 8px;
      display: flex;
      flex-direction: column;

      .link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-line: underline;
        color: $primary;
        padding: 18px 0;
      }
    }
  }
}

.modalUpload {
  max-width: 80% !important;
  padding: 45px 95px !important;
}

.modalDialog {
  max-width: 580px !important;

  .modal {
    .confirmWrapper {
      display: flex;
      align-items: center;
      column-gap: 24px;

      .confirmText {
        margin: 24px 0;

        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 8px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      column-gap: 8px;

      button {
        width: 175px;
      }
    }
  }
}
