@import "../../sass/variables";

.mantine-Accordion-item {
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12),
    0px 4px 4px -2px rgba(24, 39, 75, 0.08);
  border-radius: 10px;
  background: $white;
  margin-bottom: 32px;
}
.mantine-Accordion-item[data-active] {
  border-color: $primary;
}
.mantine-Accordion-control {
  padding: 32px 16px 32px 16px;
}
.mantine-Accordion-icon {
  margin-right: 20px;
}
.mantine-Accordion-chevron {
  margin-left: 20px;
  width: fit-content;
}
