.backButton {
  margin-bottom: 24px;

  button {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #276EF1;

    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.16px;
    }
  }
}
