@import "../../../sass/variables";

.circularProgress {
  min-width: 16px;
  min-height: 16px;
  border: 3px solid $disabled;
  border-top-color: $gray-7;
  border-top-color: #266ef1;
  border-radius: 50%;
  animation: round 800ms infinite;
}

@keyframes round {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}
