@import "../../../sass/variables";

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  .modalCard {
    width: 800px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 24px;

    .tncContainer {
      padding-top: 16px;
      border-radius: 10px;
      border: 1px solid $gray-5-light;
      max-height: 396px;
      overflow: auto;
      display: flex;
      justify-content: center;
    
      .textWrapper {
        max-width: 681px;
        font-size: 12px;
        line-height: 1.2rem;
    
        h3 {
          text-align: center;
        }
    
        a {
          color: $primary;
        }

        .content {
          padding-bottom: 16px;
        }
    
        ol,
        ul {
          padding-left: 1.5rem;
        }
    
        ol {
          li {
            &::marker {
              font-weight: bold;
            }
          }
        }
    
        ol {
          ol {
            li {
              &::marker {
                font-weight: normal;
              }
            }
          }
        }
    
        p {
          margin: 16px 0;
        }
    
        .list-upper-alpha {
          list-style-type: upper-alpha;
        }
    
        .list-decimal {
          list-style-type: decimal;
        }
    
        .list-lower-roman {
          list-style-type: lower-roman;
        }
      }
    
      .withIndent {
        text-indent: 2rem;
      }
    }
  }
}
